@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");
/* //colors variety import from  separate color stylesheet
@import "/css/ColorsVariety.css";
 */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #120f10;
  color: #f2f2f2;
}

#background-album-cover {
  position: absolute;
  width: 100vw;
  height: 40rem;
  filter: blur(2rem);
  opacity: 0.4;
  z-index: -2;
}

.arrow-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  width: 1.75rem;
  height: 1.75rem;
  /* margin: 0.5rem 0; */
  padding: 1rem;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(30, 29, 29, 0.6);
  width: 1.75rem;
  height: 1.75rem;
  /* margin: 0.5rem 0; */
  padding: 1rem;
}

#arrow-icon {
  color: #f2f2f2;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}

.arrow-link:hover .arrow {
  background-color: #1c1b1b;
}

.arrow-link:hover #arrow-icon,
.arrow-link:focus #arrow-icon {
  transform: scale(1.1);
  color: #dcdcdc;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.5rem);
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  position: fixed;
  z-index: 2;
}

#logo,
#dropdown-menu-icon {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1.75rem;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
#logo:hover,
#dropdown-menu-icon:hover {
  color: #dcdcdc;
}

#chevron-to-show-social-menu {
  display: none;
}

.nav-desktop {
  display: none;
}

.toggle-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #120f10;
  transform: translateY(3.5rem);
  color: #dcdcdc;
  border-radius: 0 0 5% 5%;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.toggle-menu.active {
  transition: 0.2s ease-in-out;
  opacity: 1;
  display: block;
  z-index: 2;
}

.all-inside {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 1rem;
}

.toggle_menu-a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 800;
}

.nav-a-toggle-menu {
  text-decoration: none;
  color: #85ab7b;
  transition: 0.1s ease-in-out;
}
.nav-a-toggle-menu:hover {
  /* text-decoration: underline 0.2rem $eastern-blue-500; */
  transform: scale(1.05);
  color: #8d8c8c;
}

.toggle-column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  gap: 0.5rem;
}

#toggle-menu-a-1,
#toggle-menu-a-2,
#toggle-menu-a-3,
#toggle-menu-a-4,
#toggle-menu-a-5,
#toggle-menu-a-6,
#toggle-menu-a-7,
#toggle-menu-a-8,
#toggle-menu-a-9 {
  color: #f2f2f2;
  font-size: 1.75rem;
  transition: 0.1s ease-in-out;
}
#toggle-menu-a-1:hover,
#toggle-menu-a-2:hover,
#toggle-menu-a-3:hover,
#toggle-menu-a-4:hover,
#toggle-menu-a-5:hover,
#toggle-menu-a-6:hover,
#toggle-menu-a-7:hover,
#toggle-menu-a-8:hover,
#toggle-menu-a-9:hover {
  transform: scale(1.2);
  color: #dcdcdc;
}

/* bottom navigation */
.bottom-navigation-only {
  height: 49.8%;
  width: 100vw;
}

.bottom-nav-ul {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  list-style: none;
  font-size: 0.9rem;
  padding: 0 1.5rem;
  width: 100vw;
  height: auto;
}

.bottom-li-nav {
  margin: 1rem;
  gap: 1.5rem;
}

#bottom-li-nav-about,
#bottom-li-nav-jobs,
#bottom-li-nav-appren {
  cursor: pointer;
}

#bottom-li-nav-about {
  color: #85ab7b;
}

.nav-a-social {
  display: none;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 4rem 1rem 0 1rem;
}

#main-album-cover {
  display: flex;
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 8px 1px rgba(30, 29, 29, 0.6);
  border-radius: 5%;
  max-width: 23rem;
}

#fig-album-released {
  padding: 0.5rem 0;
  position: relative;
  font-size: 0.8rem;
  font-weight: 500;
  color: #f2f2f2;
  letter-spacing: 0.04rem;
}

.title-name-artist {
  padding-top: 1.5rem;
  width: 100%;
}

.album-name {
  font-size: 1.6rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
  width: 100%;
}

.album-artist-name {
  padding-top: 0.5rem;
  height: auto;
  font-size: 1.2rem;
  font-weight: 600;
}

.album-summary-description {
  display: list-item;
  color: #f2f2f2;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
  width: 100%;
  text-transform: uppercase;
}

.focused {
  background-color: #dcdcdc;
  color: #367983;
  box-shadow: 0 0 4px rgba(30, 29, 29, 0.6);
}

.album-description {
  line-height: 1.6rem;
  height: auto;
  padding-top: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.name-artist-in-p {
  color: #85ab7b;
}

.p-in-details {
  padding: 1rem;
  border-radius: 1%;
  background-color: #120f10;
  box-shadow: rgba(30, 29, 29, 0.6);
}

.section2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
}

#h3-section2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 2rem;
  font-weight: 800;
}

.choose-player {
  display: flex;
  width: 100%;
  height: auto;
  background-color: transparent;
  opacity: 0.8;
}

.music-app-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#box-1,
#box-2,
#box-3,
#box-4,
#box-5 {
  color: #f2f2f2;
  padding: 0;
  font-size: 1.5rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
#box-1:active,
#box-2:active,
#box-3:active,
#box-4:active,
#box-5:active {
  color: #85ab7b;
  transform: scale(1.3);
}
#box-1:hover,
#box-2:hover,
#box-3:hover,
#box-4:hover,
#box-5:hover {
  color: #85ab7b;
  transform: scale(1.3);
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
}

.list-time-songs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 1rem;
  gap: 1rem;
}

.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #85ab7b;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 20%;
  border: 0;
  opacity: 1;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.play-btn .load-song-big-icon {
  display: none;
}
.play-btn:hover {
  opacity: 0.5;
  border-radius: 28%;
}
.play-btn:hover .play-song-big-icon {
  color: #f2f2f2;
}
.play-btn:focus .play-song-big-icon {
  display: none;
}
.play-btn:focus .load-song-big-icon {
  font-size: 1.2rem;
  color: #f2f2f2;
  display: flex;
  animation: loading 1.5s linear forwards;
}
.play-btn.ended-play {
  opacity: 1;
  border-radius: 20%;
}
.play-btn.ended-play:focus .play-song-big-icon {
  display: block;
  color: #120f10;
}
.play-btn.ended-play:focus .load-song-big-icon {
  display: none;
}

.play-song-big-icon {
  font-size: 1.4rem;
}

.load-song-big-icon {
  font-size: 1.4rem;
}

#h4-section3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

.quantity-of-songs-and-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 400;
  width: 40%;
}

.bxs-circle {
  font-size: 0.6rem;
  color: #26acac;
}

#hr-line2 {
  border: none;
  width: 100%;
  background-color: #3e3c3c;
  height: 0.05rem;
  opacity: 0.1;
  margin: 0.5rem 0;
}

.l_side {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0.5rem; */
}

.song-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  width: 1.2rem;
  font-weight: 600;
}

.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s linear;
  padding-right: 0.5rem;
}
.song .load-song-small2-icon {
  display: none;
}

.song-clicked {
  cursor: pointer;
  box-shadow: inset 1.5rem 0 1px 0px #367983;
  color: #f2f2f2;
}
.song-clicked .load-song-small2-icon {
  display: none;
}
.song-clicked .song-title,
.song-clicked .song-duration {
  opacity: 0.5;
}
.song-clicked .artist-name {
  color: #85ab7b;
}
.song-clicked .play-song-icon {
  display: none;
}
.song-clicked .load-song-small2-icon {
  display: block;
  font-size: 1.2rem;
  color: #dcdcdc;
  animation: loading 3s linear infinite;
}

.play-btn-song {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  opacity: 1;
  transition: 0.2s ease-in;
  color: #26acac;
  font-size: 1.5rem;
  cursor: pointer;
}
.play-btn-song .load-song-small-icon {
  display: none;
}
.play-btn-song:hover {
  opacity: 0.5;
}
.play-btn-song:hover .play-song-icon {
  color: #f2f2f2;
}
.play-btn-song:focus .play-song-icon {
  display: none;
}
.play-btn-song:focus .load-song-small2-icon {
  display: none;
}
.play-btn-song:focus .load-song-small-icon {
  font-size: 1.2rem;
  color: #dcdcdc;
  display: block;
  animation: loading 3s linear infinite;
}

.song-title {
  font-weight: 600;
  font-size: 1rem;
}

.artist-name {
  font-weight: 400;
  font-size: 0.8rem;
  color: #8d8c8c;
}

.song-duration {
  font-size: 0.8rem;
}

.anchor-dots {
  color: #367983;
  font-size: 1.4rem;
  transition: 0.3s ease-in;
  z-index: 1;
  cursor: pointer;
}
.anchor-dots:hover {
  transform: scale(1.1) rotate(1turn);
  color: #26acac;
}

.hidden-dots {
  color: #367983;
  font-size: 1.4rem;
  transition: 0.3s ease-in;
  z-index: 1;
  padding-left: 0.2rem;
  cursor: pointer;
  transform: scale(1.1);
}
.hidden-dots:hover {
  transform: scale(1.1);
  color: #26acac;
}

.r_side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 0.5rem;
}

.visible-info {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
  /* width: auto; */
  min-width: 20%;
}

.hidden-info {
  display: none;
  justify-content: center;
  align-items: center;
}

/* .heart-in-song */
.heart-btn-in-song {
  display: inline-block;
  font-size: 1.3rem;
  cursor: pointer;
  color: #8d8c8c;
  transition: 0.2s ease-in-out;
  z-index: 1;
}
.heart-btn-in-song:active {
  animation: heart-click 0.2s ease-in-out;
  color: #cd3737;
}
.heart-btn-in-song.is-red {
  color: #b61a1a;
}

.btn-3-dots-visible,
.btn-3-dots-hidden,
.heart-btn-in-song {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.section4 {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 4rem 1rem;
  gap: 0.5rem;
}

#h5-section4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 1rem;
}

.name-tag {
  color: #26acac;
}

.albums-chooser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-height: 20rem;
  gap: 2rem;
  z-index: 1;
}

.album-cover {
  width: 14rem;
  height: auto;
  min-height: 14rem;
  min-width: 14rem;
  border-radius: 5%;
}

.album {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 14rem;
  min-height: 21rem;
  height: auto;
  min-height: 21rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.album:hover {
  transform: scale(1.1);
}

.song-title-small {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 1.3rem;
  white-space: wrap;
  width: 100%;
  margin-top: 0.5rem;
}

.content-small {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  margin-top: auto;
}

.date-small {
  font-weight: 400;
  font-size: 1.1rem;
}

.dots-separator-album {
  color: #26acac;
  font-size: 1.7rem;
}

.album-a-next-page {
  text-decoration: none;
  color: #f2f2f2;
}

.album .album-cover {
  transition: box-shadow 0.3s ease;
}
.album:hover #album-cover-flashback-deluxe {
  box-shadow: 0 0 8px rgba(210, 146, 164, 0.5);
}
.album:hover #dots-separator-album-1 {
  transition-delay: 300ms;
  color: rgb(210, 146, 164);
}
.album:hover #album-cover-arena-of-autumnn {
  box-shadow: 0 0 8px rgba(185, 169, 71, 0.5);
}
.album:hover #dots-separator-album-2 {
  transition-delay: 300ms;
  color: rgb(185, 169, 71);
}
.album:hover #album-cover-galaktkitty {
  box-shadow: 0 0 8px rgba(50, 23, 78, 0.5);
}
.album:hover #dots-separator-album-3 {
  transition-delay: 300ms;
  color: rgb(175, 160, 212);
}
.album:hover #album-cover-king-of {
  box-shadow: 0 0 8px rgba(181, 133, 94, 0.5);
}
.album:hover #dots-separator-album-4 {
  transition-delay: 300ms;
  color: rgb(181, 133, 94);
}

.btn-view-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.btn-view-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #120f10;
  padding: 0.5rem 1rem;
  background-color: #f2f2f2;
  width: 14rem;
  height: 10%;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.1s ease-in-out;
}
.btn-view-collection:hover, .btn-view-collection :focus, .btn-view-collection :active {
  transform: scale(1.1);
  background-color: #dcdcdc;
}

.hr-line-footer {
  width: 100%;
  border: none;
  background-color: #8d8c8c;
  height: 0.05rem;
  opacity: 0.1;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 0rem 1rem;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem 1rem;
  gap: 0.5rem;
}

.footer-a-1,
.footer-a-2 {
  display: flex;
  flex-direction: column;
  width: auto;
}

.nav-a-footer {
  color: #85ab7b;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}
.nav-a-footer:hover {
  transform: scale(1.05);
  color: #8d8c8c;
}

.description-and-email-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  border-bottom: 0.1rem solid #f2f2f2;
  gap: 0.5rem;
  width: 100%;
  height: auto;
}

.email-input-description {
  padding: 2rem 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #8d8c8c;
}

.input-wth-btn {
  width: 100%;
  height: auto;
}

.input-email {
  width: 80%;
  height: auto;
  font-size: 1.4rem;
  background-color: transparent;
  color: #f2f2f2;
  border: none;
  margin-right: 0;
  padding: 1rem 0;
}
.input-email:focus {
  outline: none;
  color: #f2f2f2;
}

.send-btn {
  border: 0;
  background-color: transparent;
  color: #26acac;
  padding: 0;
  margin-left: 0;
  width: auto;
  height: auto;
  transition: 0.2s ease-in-out;
  font-size: 1.4rem;
  cursor: pointer;
}
.send-btn:focus {
  transform: scale(1.1);
  color: #85ab7b;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.footer-p-and-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 1rem;
  padding-top: 1rem;
}

.nav-a-footer-social {
  padding: 0 0.5rem;
}

#bottom-footer-social-1,
#bottom-footer-social-2,
#bottom-footer-social-3,
#bottom-footer-social-4,
#bottom-footer-social-5,
#bottom-footer-social-6,
#bottom-footer-social-7,
#bottom-footer-social-8,
#bottom-footer-social-9 {
  font-size: 1.4rem;
  color: #dcdcdc;
  cursor: pointer;
}
#bottom-footer-social-1:hover,
#bottom-footer-social-2:hover,
#bottom-footer-social-3:hover,
#bottom-footer-social-4:hover,
#bottom-footer-social-5:hover,
#bottom-footer-social-6:hover,
#bottom-footer-social-7:hover,
#bottom-footer-social-8:hover,
#bottom-footer-social-9:hover {
  transition: 0.1s ease-in-out;
  transform: scale(1.2);
  color: #85ab7b;
}

.time-and-rights {
  font-size: 1rem;
  color: #dcdcdc;
  font-size: 600;
}

.about-me {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding-top: 2rem;
}

#description-about-me {
  font-size: 1rem;
  width: 80%;
  padding-bottom: 1rem;
}

#anchor-description-about-me {
  text-decoration: none;
  color: #dcdcdc;
  font-weight: 800;
  transition: 0.1s ease-in-out;
}
#anchor-description-about-me:hover {
  color: #26acac;
}

#my-name-is {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.my-social {
  font-size: 3rem;
  color: #367983;
  transition: 0.1s ease-in-out;
}
.my-social:hover {
  color: #85ab7b;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes heart-hover-focus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heart-click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 375px) {
  .quantity-of-songs-and-time {
    font-size: 0.7rem;
  }
  .album-name {
    font-size: 1.8rem;
  }
  .album-artist-name {
    font-size: 1.3rem;
  }
}
@media (min-width: 425px) {
  #background-album-cover {
    height: 45rem;
  }
  .top-content {
    padding: 0 2rem;
  }
  .all-inside {
    padding: 2rem;
  }
  .toggle_menu-a {
    font-size: 1.4rem;
  }
  .section1 {
    padding: 4rem 2rem 0 2rem;
  }
  .album-description {
    font-size: 0.9rem;
  }
  .section2 {
    padding: 2rem;
  }
  #box-1,
  #box-2,
  #box-3,
  #box-4,
  #box-5 {
    font-size: 1.8rem;
  }
  .section3 {
    padding: 2rem;
  }
  .play-btn {
    min-height: 3.5rem;
    min-width: 3.5rem;
  }
  .song {
    height: 3.5rem;
  }
  .song-number {
    font-size: 0.9rem;
  }
  .play-btn-song {
    width: 3rem;
    height: 3rem;
  }
  .play-btn-song .play-song-icon {
    font-size: 1.6rem;
  }
  .quantity-of-songs-and-time {
    font-size: 0.8rem;
  }
  .song-title {
    font-size: 1.2rem;
  }
  .artist-name {
    font-size: 1rem;
  }
  .song-duration {
    /*   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    font-size: 1rem;
  }
  .anchor-dots {
    font-size: 1.6rem;
  }
  /* .heart-in-song */
  .heart-btn-in-song {
    font-size: 1.6rem;
  }
  .section4 {
    padding: 0 2rem 4rem 2rem;
  }
  footer {
    padding: 0rem 2rem;
  }
  .nav-a-footer {
    font-size: 1.6rem;
  }
  #bottom-footer-social-1,
  #bottom-footer-social-2,
  #bottom-footer-social-3,
  #bottom-footer-social-4,
  #bottom-footer-social-5,
  #bottom-footer-social-6,
  #bottom-footer-social-7,
  #bottom-footer-social-8,
  #bottom-footer-social-9 {
    font-size: 1.8rem;
  }
  .time-and-rights {
    font-size: 1.2rem;
  }
  #description-about-me {
    font-size: 1.2rem;
    width: 80%;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 768px) {
  #background-album-cover {
    transform: translateY(-16rem);
    height: auto;
    max-height: 75rem;
  }
  #main-album-cover {
    width: 100%;
    max-width: 28rem;
  }
  .toggle-menu {
    width: 60%;
    right: 0;
  }
  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  .album-and-figcaption {
    width: 100%;
    padding: 0;
    max-width: 28rem;
  }
  .title-name-artist {
    padding-top: 6rem;
    width: 100%;
  }
  .album-name {
    font-size: 1.8rem;
  }
  .album-artist-name {
    font-size: 1.4rem;
  }
  .section2 {
    background-color: #120f10;
    margin-top: 4rem;
  }
  #h3-section2 {
    font-size: 1.6rem;
  }
  .section3 {
    padding: 2rem;
    background-color: #120f10;
  }
  #h4-section3 {
    font-size: 1.6rem;
  }
  .play-btn {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
  .quantity-of-songs-and-time {
    font-size: 1rem;
  }
  .list-time-songs {
    width: 50%;
  }
  .bxs-circle {
    font-size: 0.8rem;
  }
  #h5-section4 {
    font-size: 1.6rem;
  }
  .section4 {
    padding: 2rem 2rem 4rem 2rem;
  }
}
@media (min-width: 1024px) {
  .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.5rem);
    width: 100%;
    height: 3.5rem;
    padding: 0 2rem;
    position: fixed;
    z-index: 2;
  }
  #logo,
  #chevron-to-show-social-menu {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.75rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
  }
  #logo:hover,
  #chevron-to-show-social-menu:hover {
    color: #dcdcdc;
  }
  #dropdown-menu-icon {
    display: none;
  }
  .nav-desktop {
    display: block;
    width: 80%;
  }
  .desktop_menu-a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem 0rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
  }
  .nav-a-desktop-menu {
    text-decoration: none;
    color: #dcdcdc;
    transition: 0.1s ease-in-out;
  }
  .nav-a-desktop-menu:hover {
    transform: scale(1.05);
    color: #8d8c8c;
  }
  .toggle-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    right: 0;
    padding: 1.5rem;
  }
  .toggle_menu-a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    font-size: 1.4rem;
  }
  .toggle-column-right {
    display: none;
  }
  .top-nav-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 5rem 2rem;
    right: 0;
    gap: 0.5rem;
    position: fixed;
    z-index: 1;
  }
  .nav-a-social {
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    margin: 0.2rem 0;
    cursor: pointer;
  }
  #nav-a-1,
  #nav-a-2,
  #nav-a-3,
  #nav-a-4,
  #nav-a-5,
  #nav-a-6,
  #nav-a-7,
  #nav-a-8,
  #nav-a-9 {
    font-size: 1.75rem;
    transition: 0.1s ease-in-out;
  }
  #nav-a-1:hover,
  #nav-a-2:hover,
  #nav-a-3:hover,
  #nav-a-4:hover,
  #nav-a-5:hover,
  #nav-a-6:hover,
  #nav-a-7:hover,
  #nav-a-8:hover,
  #nav-a-9:hover {
    transform: scale(1.2);
    color: #dcdcdc;
  }
  .section1 {
    gap: 3rem;
    padding: 4rem 4rem 0 4rem;
  }
  #fig-album-released {
    font-size: 0.9rem;
    padding: 1rem 0 0.5rem 0;
  }
  .album-name {
    font-size: 2.2rem;
  }
  .album-artist-name {
    font-size: 1.8rem;
  }
  .album-description {
    font-size: 1rem;
  }
  .album-description {
    width: 90%;
  }
  .section2 {
    padding: 4rem 4rem 0 4rem;
  }
  #h3-section2 {
    font-size: 2rem;
  }
  .choose-player {
    width: 80%;
  }
  .section3 {
    padding: 4rem 4rem 0 4rem;
  }
  .play-btn {
    min-width: 4rem;
    min-height: 4rem;
  }
  #h4-section3 {
    font-size: 2rem;
  }
  .list-time-songs {
    padding: 2rem;
  }
  /*  .heart-in-song */
  .heart-btn-in-song:hover {
    animation: heart-hover-focus 0.3s ease-in-out;
    color: #cd3737;
  }
  .section4 {
    padding: 4rem 4rem;
  }
  #h5-section4 {
    font-size: 2rem;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    padding: 4rem;
  }
  .footer-a-1,
  .footer-a-2 {
    gap: 1rem;
  }
  .description-and-email-input {
    width: 40%;
    gap: 1rem;
  }
  .email-input-description {
    padding: 0;
  }
  .footer-p-and-nav {
    padding-top: 2rem;
  }
  .nav-a-footer-social {
    padding: 0 1rem;
  }
}
@media (min-width: 1440px) {
  #nav-a-1,
  #nav-a-2,
  #nav-a-3,
  #nav-a-4,
  #nav-a-5,
  #nav-a-6,
  #nav-a-7,
  #nav-a-8,
  #nav-a-9 {
    font-size: 2rem;
  }
  .toggle-menu {
    width: 20%;
    transform: translateY(4rem);
  }
  .toggle_menu-a {
    font-size: 1.6rem;
  }
  .top-content {
    width: 100%;
    height: 4rem;
  }
  #logo,
  #chevron-to-show-social-menu {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }
  .desktop_menu-a {
    gap: 2rem;
    font-size: 1.2rem;
  }
  .section1 {
    gap: 5rem;
    padding: 5rem 6rem 0 6rem;
  }
  .album-and-figcaption {
    width: 60%;
    padding: 0;
  }
  #fig-album-released {
    font-size: 1rem;
  }
  .album-name {
    font-size: 2.4rem;
  }
  .album-artist-name {
    font-size: 2rem;
  }
  .album-description {
    font-size: 1rem;
  }
  .album-description {
    width: 85%;
  }
  .section2 {
    padding: 6rem 6rem 0 6rem;
  }
  #h3-section2 {
    font-size: 2.2rem;
  }
  #box-1,
  #box-2,
  #box-3,
  #box-4,
  #box-5 {
    font-size: 2.5rem;
  }
  .section3 {
    padding: 6rem 6rem 0 6rem;
  }
  .list-time-songs {
    padding: 2rem 6rem;
  }
  .play-btn {
    min-width: 4.5rem;
    min-height: 4.5rem;
  }
  #h4-section3 {
    font-size: 2.2rem;
  }
  .quantity-of-songs-and-time {
    font-size: 1.2rem;
  }
  .bxs-circle {
    font-size: 1rem;
  }
  .song {
    height: 4rem;
    padding: 0 6rem;
  }
  .song-number {
    font-size: 1rem;
  }
  .play-btn-song {
    width: 3.6rem;
    height: 3.6rem;
  }
  .play-song-icon {
    font-size: 1.8rem;
  }
  .section4 {
    padding: 6rem 6rem;
  }
  #h5-section4 {
    font-size: 2.2rem;
  }
  .content-small {
    gap: 0.6rem;
  }
  .song-title-small {
    font-size: 1.4rem;
  }
  .date-small {
    font-weight: 400;
    font-size: 1.2rem;
  }
  .dots-separator-album {
    font-size: 1.8rem;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem;
    padding: 6rem;
  }
  .description-and-email-input {
    gap: 2rem;
  }
  .email-input-description {
    padding: 0;
  }
  .footer-p-and-nav {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }
  .nav-a-footer-social {
    padding: 0 2rem;
  }
  #bottom-nav-a-1,
  #bottom-nav-a-2,
  #bottom-nav-a-3,
  #bottom-nav-a-4,
  #bottom-nav-a-5,
  #bottom-nav-a-6,
  #bottom-nav-a-7,
  #bottom-nav-a-8,
  #bottom-nav-a-9 {
    font-size: 2.5rem;
  }
  .time-and-rights {
    font-size: 1.2rem;
  }
  .about-me {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 2rem;
  }
  #description-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6rem;
    gap: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
  }
  .my-name-and-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    width: 100%;
    gap: 1rem;
  }
  #my-name-is {
    font-size: 1.6rem;
    padding: 1rem 0;
  }
  .my-social {
    font-size: 3.2rem;
    color: #367983;
    transition: 0.1s ease-in-out;
  }
}/*# sourceMappingURL=tunnel-vision.css.map */