$white: #f2f2f2;
$red-500: #cd3737;
$red-700: #b61a1a;
$grey-500: #dcdcdc;
$grey-600: #8d8c8c;
$grey-700: #3e3c3c;
$black-900: #120f10;
$black-700: #1c1b1b;
$black-600: #120f10;
$eastern-blue-500: #26acac;
$amulet-green-400: #85ab7b;
$ming-blue-600: #367983;

//mini- albums shadows and more
$shadow-flashback-normal: rgba(211, 142, 122, 0.5);
$color-flashback-normal: rgba(235, 152, 120, 1);

$shadow-flashback-deluxe: rgba(210, 146, 164, 0.5);
$color-flashback-deluxe: rgba(210, 146, 164, 1);

$shadow-arena-of-autumnn: rgba(185, 169, 71, 0.5);
$color-arena-of-autumnn: rgba(185, 169, 71, 1);

$shadow-galaktkitty: rgba(50, 23, 78, 0.5);
$color-galaktkitty: rgba(175, 160, 212, 1);

$shadow-king-of-for-and-muds: rgba(181, 133, 94, 0.5);
$color-king-of-for-and-muds: rgba(181, 133, 94, 1);

//other shadows
$shadow-green: rgba(133, 171, 123, 0.4);
$shadow-black: rgba(30, 29, 29, 0.6);
$shadow-black-transparent: rgba(0, 0, 0, 0.8);