//font

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

//colors variety import from  separate color stylesheet
$white: #f2f2f2;
$red-300: #f14343;
$red-500: #cd3737;
$red-700: #b61a1a;
$grey-500: #dcdcdc;
$grey-600: #8d8c8c;
$grey-700: #3e3c3c;
$black-900: #120f10;
$black-700: #1c1b1b;
$black-600: #120f10;
$eastern-blue-500: #26acac;
$amulet-green-400: #85ab7b;
$ming-blue-600: #367983;

//mini- SINGLES shadows and more
//! el double M
$shadow-a-horse: rgba(23, 59, 59, 0.5);
$color-a-horse: rgba(42, 78, 79, 1);

$shadow-chrysanthemums: rgba(181, 141, 140, 0.5);
$color-chrysanthemums: rgba(218, 118, 144, 1);

$shadow-sunset-bye-narew: rgba(163, 105, 71, 0.5);
$color-sunset-bye-narew: rgba(150, 62, 12, 1);

$shadow-other-than: rgba(106, 104, 101, 0.5);
$color-other-than: rgba(230, 112, 10, 1);

$shadow-dark-single: rgba(133, 169, 167, 0.5);
$color-dark-single: rgba(151, 212, 210, 1);

$shadow-lake: rgba(244, 171, 239, 0.5);
$color-lake: rgb(98, 45, 95);
//! other members
$shadow-zen: rgba(125, 185, 108, 0.5);
$color-zen: rgba(51, 121, 64, 1);

$shadow-flight-2011: rgba(16, 144, 167, 0.5);
$color-flight-2011: rgba(167, 197, 199, 1);

$shadow-meadow-of-happiness: rgba(133, 128, 32, 0.5);
$color-meadow-of-happiness: rgba(233, 183, 40, 1);

$shadow-wake-up-kitty-said: rgba(31, 28, 129, 0.5);
$color-wake-up-kitty-said: rgb(176, 157, 44);

$shadow-delusion: rgba(1, 0, 126, 0.5);
$color-delusion: rgb(156, 28, 54);

$shadow-movin-melodies: rgba(91, 150, 166, 0.5);
$color-movin-melodies: rgb(28, 91, 102);

//mini- albums shadows and more
$shadow-wave: rgba(109, 13, 113, 0.5);
$color-wave: rgba(53, 17, 127, 1);

$shadow-flashback-normal: rgba(211, 142, 122, 0.5);
$color-flashback-normal: rgba(235, 152, 120, 1);

$shadow-flashback-deluxe: rgba(210, 146, 164, 0.5);
$color-flashback-deluxe: rgba(210, 146, 164, 1);

$shadow-arena-of-autumnn: rgba(185, 169, 71, 0.5);
$color-arena-of-autumnn: rgba(185, 169, 71, 1);

$shadow-galaktkitty: rgba(50, 23, 78, 0.5);
$color-galaktkitty: rgba(175, 160, 212, 1);

$shadow-king-of-for-and-muds: rgba(181, 133, 94, 0.5);
$color-king-of-for-and-muds: rgba(181, 133, 94, 1);

//! other members albums
$shadow-lone-rider: rgba(198, 84, 4, 0.5);
$color-lone-rider: rgba(224, 130, 15, 1);

$shadow-lavender-lab: rgba(79, 48, 80, 0.5);
$color-lavender-lab: rgba(79, 48, 80, 1);

$shadow-pull-up: rgba(71, 112, 130, 0.5);
$color-pull-up: rgba(71, 112, 130, 1);

$shadow-into-to-diff-dimension: rgba(99, 78, 173, 0.6);
$color-into-to-diff-dimension: rgba(255, 202, 231, 1);

//other shadows
$shadow-green: rgba(133, 171, 123, 0.4);
$shadow-black: rgba(30, 29, 29, 0.6);
$shadow-black-transparent: rgba(0, 0, 0, 0.8);

* {
  margin: 0;
  box-sizing: border-box;
}

//styling

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: $black-900;
  color: $white;
}
//!for mobile menu and hide desktop menu
.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $shadow-black-transparent;
  backdrop-filter: blur(0.5rem);
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  position: fixed;
  z-index: 2;
}
#logo,
#dropdown-menu-icon {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1.75rem;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  &:hover {
    color: $grey-500;
  }
}
#chevron-to-show-social-menu {
  display: none;
}
.nav-desktop {
  display: none;
}

//toggle menu

.toggle-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: $black-600;
  transform: translateY(3.5rem);
  color: $grey-500;

  border-radius: 0 0 5% 5%;
  box-shadow: 1px 3px 15px $shadow-black-transparent;
  opacity: 0;
}

.toggle-menu.active {
  transition: 0.2s ease-in-out;
  opacity: 1;
  display: block;
  z-index: 2;
}

.all-inside {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 1rem;
}

.toggle_menu-a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 800;
}
.nav-a-toggle-menu {
  text-decoration: none;
  color: $amulet-green-400;
  transition: 0.1s ease-in-out;
  &:hover {
    /* text-decoration: underline 0.2rem $eastern-blue-500; */
    transform: scale(1.05);
    color: $grey-600;
  }
}

//right side toggle menu
.toggle-column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  gap: 0.5rem;
}

#toggle-menu-a-1,
#toggle-menu-a-2,
#toggle-menu-a-3,
#toggle-menu-a-4,
#toggle-menu-a-5,
#toggle-menu-a-6,
#toggle-menu-a-7,
#toggle-menu-a-8,
#toggle-menu-a-9 {
  color: $white;
  font-size: 1.75rem;
  transition: 0.1s ease-in-out;

  &:hover {
    transform: scale(1.2);
    color: $grey-500;
  }
}

/* bottom navigation */
.bottom-navigation-only {
  height: 49.8%;
  width: 100vw;
}

.bottom-nav-ul {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  list-style: none;
  font-size: 0.9rem;
  padding: 0 1.5rem;
  width: 100vw;
  height: auto;
}

.bottom-li-nav {
  margin: 1rem;
  gap: 1.5rem;
}

#bottom-li-nav-about,
#bottom-li-nav-jobs,
#bottom-li-nav-appren {
  cursor: pointer;
}

#bottom-li-nav-about {
  color: $amulet-green-400;
}
.nav-a-social {
  display: none;
}
//SECTION 0
.section-0-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 4rem 0.5rem 0 0.5rem;
}
.div-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}
.p-info {
  font-size: 0.8rem;
  color: $grey-600;
  text-transform: uppercase;
}
//pause/play btn
.pause-play-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $white;
  font-weight: 700;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 1rem;
  padding:  0.5rem;
}
.active-info {
  display: block;
}
.hidden-info {
  display: none;
}
.section-0-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  background-color: $shadow-black;
  border-radius: 1rem;
}
//!slider animation classes

.slider-active {
  display: block;
  opacity: 1;
  transition: 1s ease-in-out opacity;
}

.slider-hidden {
  display: none;
  opacity: 0;
  transition: 1s ease-in-out opacity;
}

.h2-slider-name {
  color: $white;
  font-weight: 800;
  width: auto;
  font-size: 1.6rem;
  &:hover,
  :focus,
  :active {
    color: $eastern-blue-500;
  }
}
//img
.slider-img {
  width: 16rem;
  height: 12rem;
  border-radius: 0.5rem;
}
#slider-img-fresh-tarck,
#slider-img-red-path {
  width: 12rem;
  height: 12rem;
}

.description-slider-div {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.description-slider-p {
  color: $grey-500;
  font-size: 0.9rem;
  max-width: 14rem;
}
//slider dots div

.slider-dots-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0 0 1rem;
}
.dot-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: $grey-600;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 0.5rem;
  &:hover,
  :active {
    background-color: $grey-700;
    color: $grey-500;
  }
}

.dot-active {
  color: $eastern-blue-500;
}
.div-dot-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

//section 1
.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 4rem 0.5rem 0 0.5rem;
  /* z-index: 1; */
}

.section-1-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  /* z-index: 1; */
  background-color: $shadow-black;
  border-radius: 1rem;
}
//name and logo
.link-to-story {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}

.name-and-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 1.3rem;
  line-height: 3.8rem;
}
.h1-main-name {
  color: $white;
  font-weight: 800;
  width: auto;
  font-size: 1.9rem;
  &:hover,
  :focus,
  :active {
    color: $eastern-blue-500;
  }
}
.img-square-section {
  width: 1.9rem;
  height: 1.9rem;
}

//introduction
.dot-and-introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*  width: 100%;
    height: auto; */
  gap: 0.5rem;
  line-height: 1.6rem;
}
.p_introduction {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 0.8rem;
  color: $grey-600;
}
#dot-introduction {
  color: $amulet-green-400;
  font-size: 0.6rem;
}
//main description

.p_description {
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 500;
}
.hr-line-to-p {
  border: none;
  width: 100%;
  background-color: $grey-700;
  height: 0.05rem;
  opacity: 0.1;
  margin: 0.5rem 0;
}

.h2_description {
  line-height: 2.8rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.name-in-p-green {
  color: $amulet-green-400;
  font-weight: 700;
}
.name-in-p-blue {
  color: $eastern-blue-500;
  font-weight: 700;
}

//btn discover story
.discover-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
}
.btn-discover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: $grey-700;
  color: $white;
  width: 14rem;
  height: auto;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.1s ease-in-out;

  &:hover,
  :focus,
  :active {
    outline: none;
    transform: scale(1.1);
    background-color: $grey-600;
    color: $black-900;
  }
}
.hr-line-to-sections {
  border: none;
  width: 100%;
  background-color: $grey-700;
  height: 0.05rem;
  opacity: 0.1;
  margin-top: 1rem;
}

// section 2 new albums with section 4 latest singles
.section-2,
.section-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  gap: 0.5rem;
}

.h-section-2,
.h-section-4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 2rem;
  font-weight: 700;
}
.name-tag-blue {
  color: $eastern-blue-500;
}
.name-tag-green {
  color: $amulet-green-400;
}
.link-to-all-collection {
  text-decoration: none;
  color: $white;
  transition: 0.1s ease-in-out;
}
//albums thing
.albums-chooser,
.singles-chooser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-height: 20rem;
  gap: 1.5rem;
  z-index: 1;
  /* &:hover {
    transition: 0.1s linear;
  } */
}

.album-cover,
.single-cover {
  width: 7.5rem;
  height: auto;
  min-height: 7.5rem;
  min-width: 7.5rem;
  border-radius: 5%;
}
.album,
.single {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 7.5rem;
  height: auto;
  min-height: 13rem;
  transition: 0.1s linear;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
.song-title-small {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 0.9rem;
  white-space: wrap;
  width: 100%;
  margin-top: 0.5rem;
}

.content-small {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  width: 100%;
  height: auto;
  margin-top: auto;
}

.date-small {
  font-weight: 400;
  font-size: 0.9rem;
}

.dots-separator-album,
.dots-separator-single {
  color: $eastern-blue-500;
  font-size: 1.4rem;
}

//mini albums shadows and color dots

// a - for mini albums
.album-a-next-page {
  text-decoration: none;
  color: $white;
}
//! el double M
// hover for album covers and dots separators
.album {
  .album-cover {
    transition: box-shadow 0.3s ease;
  }

  //1 album flashback deluxe
  &:hover #album-cover-flashback-deluxe {
    box-shadow: 0 0 8px $shadow-flashback-deluxe;
  }
  &:hover #dots-separator-album-1 {
    transition-delay: 300ms;
    color: $color-flashback-deluxe;
  }

  // 2 album arena of autumnn
  &:hover #album-cover-arena-of-autumnn {
    box-shadow: 0 0 8px $shadow-arena-of-autumnn;
  }
  &:hover #dots-separator-album-2 {
    transition-delay: 300ms;
    color: $color-arena-of-autumnn;
  }

  // 3 album galaktkitty
  &:hover #album-cover-galaktkitty {
    box-shadow: 0 0 8px $shadow-galaktkitty;
  }
  &:hover #dots-separator-album-3 {
    transition-delay: 300ms;
    color: $color-galaktkitty;
  }

  // 4 album wave
  &:hover #album-cover-wave {
    box-shadow: 0 0 8px $shadow-wave;
  }
  &:hover #dots-separator-album-4 {
    transition-delay: 300ms;
    color: $color-wave;
  }
  //!other members
  // 1 album lone Rider
  &:hover #album-cover-lone-rider {
    box-shadow: 0 0 8px $shadow-lone-rider;
  }
  &:hover #dots-separator-album-others-1 {
    transition-delay: 300ms;
    color: $color-lone-rider;
  }
  // 2 album Lavender labyrinth
  &:hover #album-cover-lavender-labyrinth {
    box-shadow: 0 0 8px $shadow-lavender-lab;
  }
  &:hover #dots-separator-album-others-2 {
    transition-delay: 300ms;
    color: $color-lavender-lab;
  }
  // 3 album pull over
  &:hover #album-cover-pull-up {
    box-shadow: 0 0 8px $shadow-pull-up;
  }
  &:hover #dots-separator-album-others-3 {
    transition-delay: 300ms;
    color: $color-pull-up;
  }
  // 4 album intro to different dimension
  &:hover #album-cover-into-to-different-dimension {
    box-shadow: 0 0 8px $shadow-into-to-diff-dimension;
  }
  &:hover #dots-separator-album-others-4 {
    transition-delay: 300ms;
    color: $color-into-to-diff-dimension;
  }
}
//! only for singles
// hover for singles covers and dots separators
.single {
  .single-cover {
    transition: box-shadow 0.3s ease;
  }

  //1 a horse with no name
  &:hover #a-horse-with-no-name-single-cover {
    box-shadow: 0 0 8px $shadow-a-horse;
  }
  &:hover #dots-separator-single-1 {
    transition-delay: 300ms;
    color: $color-a-horse;
  }

  // 2 chrysanthemums not golden
  &:hover #chrysanthemums-not-golden-single-cover {
    box-shadow: 0 0 8px $shadow-chrysanthemums;
  }
  &:hover #dots-separator-single-2 {
    transition-delay: 300ms;
    color: $color-chrysanthemums;
  }

  // 3 sunset bye narew
  &:hover #sunset-bye-narew-single-cover {
    box-shadow: 0 0 8px $shadow-sunset-bye-narew;
  }
  &:hover #dots-separator-single-3 {
    transition-delay: 300ms;
    color: $color-sunset-bye-narew;
  }

  // 4 other than other clones
  &:hover #other-than-other-clones-single-cover {
    box-shadow: 0 0 8px $shadow-other-than;
  }
  &:hover #dots-separator-single-4 {
    transition-delay: 300ms;
    color: $color-other-than;
  }
  // 5 dark
  &:hover #dark-single-cover {
    box-shadow: 0 0 8px $shadow-dark-single;
  }
  &:hover #dots-separator-single-5 {
    transition-delay: 300ms;
    color: $color-dark-single;
  }

  // 6 lake
  &:hover #lake-single-cover {
    box-shadow: 0 0 8px $shadow-lake;
  }
  &:hover #dots-separator-single-6 {
    transition-delay: 300ms;
    color: $color-lake;
  }
  //!other members

  //1 zen
  &:hover #zen-single-cover {
    box-shadow: 0 0 8px $shadow-zen;
  }
  &:hover #dots-separator-single-others-1 {
    transition-delay: 300ms;
    color: $color-zen;
  }

  // 2 flight 2011
  &:hover #flight-2011-single-cover {
    box-shadow: 0 0 8px $shadow-flight-2011;
  }
  &:hover #dots-separator-single-others-2 {
    transition-delay: 300ms;
    color: $color-flight-2011;
  }

  // 3 meadow of happiness
  &:hover #meadow-of-happiness-single-cover {
    box-shadow: 0 0 8px $shadow-meadow-of-happiness;
  }
  &:hover #dots-separator-single-others-3 {
    transition-delay: 300ms;
    color: $color-meadow-of-happiness;
  }

  // 4 wake up kitty said
  &:hover #wake-up-kitty-said-single-cover {
    box-shadow: 0 0 8px $shadow-wake-up-kitty-said;
  }
  &:hover #dots-separator-single-others-4 {
    transition-delay: 300ms;
    color: $color-wake-up-kitty-said;
  }
  // 5 delusion
  &:hover #delusion-single-cover {
    box-shadow: 0 0 8px $shadow-delusion;
  }
  &:hover #dots-separator-single-others-5 {
    transition-delay: 300ms;
    color: $color-delusion;
  }

  // 6 movin melodies
  &:hover #movin-melodies-single-cover {
    box-shadow: 0 0 8px $shadow-movin-melodies;
  }
  &:hover #dots-separator-single-others-6 {
    transition-delay: 300ms;
    color: $color-movin-melodies;
  }
}

//btn for view collection
//btn
.btn-view-collection-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.btn-view-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: $grey-700;
  color: $white;
  width: 14rem;
  height: auto;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.1s ease-in-out;

  &:hover,
  :focus,
  :active {
    outline: none;
    transform: scale(1.1);
    background-color: $grey-600;
    color: $black-900;
  }
}

//

//section3 music app chooser

.section3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 1rem;
}
.h2-section3 {
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  width: 100%;
  /*  padding-bottom: 2rem; */
  font-weight: 800;
}
.dot-and-introduction-chooser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 0.5rem;
  line-height: 1.6rem;
  margin: 0.5rem 0 2rem 0;
}
.p_introduction-chooser {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 0.8rem;
  color: $grey-600;
}
#dot-introduction-chooser {
  color: $eastern-blue-500;
  font-size: 0.6rem;
}

.choose-player {
  display: flex;
  width: 100%;
  height: auto;
  background-color: transparent;
  opacity: 0.8;
}

.music-app-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#box-1,
#box-2,
#box-3,
#box-4,
#box-5 {
  color: $white;
  padding: 0;
  /*  font-size: 1.5rem; */
  font-size: 2rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  &:active {
    color: $amulet-green-400;
    transform: scale(1.3);
  }
  &:hover {
    color: $amulet-green-400;
    transform: scale(1.3);
  }
}
.hr-line-to-sections-chooser {
  border: none;
  width: 100%;
  background-color: $grey-700;
  height: 0.05rem;
  opacity: 0.1;
  margin-top: 2rem;
  //
}
//section5 shop

.section5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2rem 0.5rem;
  background-image: url("/src/img/others/Project Capture.jpg");
  background-repeat: repeat-x;
  background-position: 50% 00%;
  background-size: cover;
}
.div-section5-opacity-bg {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  background-color: $shadow-black-transparent;
}

.link-to-shop {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}
.h-section5 {
  font-size: 1.5rem;
  line-height: 3rem;
  text-transform: uppercase;
  width: 100%;
  font-weight: 800;
  color: $white;
  width: auto;
  transition: 0.2s ease-in-out;

  &:hover,
  :focus,
  :active {
    color: $eastern-blue-500;
  }
}
#store-icon {
  font-size: 1.5rem;
  line-height: 3rem;
  color: $eastern-blue-500;
}

.visit-shop-and-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.p_section5 {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
}
#shop-cta-p {
  font-size: 1.2rem;
  line-height: 2.4rem;
  font-weight: 700;
}

//album scroll
.div-albums-buy-scroll {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  height: auto;
  padding: 1.5rem 0;
  margin: 0 0 1rem 0;
  gap: 0.5rem;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  z-index: 2;
  scroll-behavior: smooth;
  //scrollbar
  &::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $grey-500;
    border-radius: 0.5rem;
    width: 25%;
  }
  &::-webkit-scrollbar-track {
    background-color: $grey-700;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem $shadow-black-transparent;
  }
}

//end scrollbar

.album-to-buy-img {
  width: 80%;
  width: 13.5rem;
  height: auto;
  border-radius: 1rem;
  z-index: 2;
}

.inner-div-albums-buy-scroll {
  display: flex;
  gap: 1rem;
}

.link-to-buy-album {
  display: block;
  text-decoration: none;
  color: inherit;
}
// div under img
.shop-dream-chasers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5rem;
  max-width: 13.5rem;
  margin-top: 1rem;
  gap: 0.5rem;
  width: 100%;
  height: auto;
}

.dream-shop-icon {
  font-size: 1.2rem;
  color: $eastern-blue-500;
}
.dream-chasers-fig {
  font-size: 1rem;
  color: $white;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}
//end  scroll

//btn for check out shop
//btn

//

.btn-shop-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.btn-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $black-900;
  padding: 0.5rem 1rem;
  background-color: $white;
  width: 14rem;
  height: auto;
  margin: 2rem 0 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.1s ease-in-out;

  &:hover,
  :focus,
  :active {
    transform: scale(1.1);
    background-color: $grey-500;
  }
}

//section 6 tour

.section6 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  background-color: $black-900;
}
.link-to-concert {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}
.tour-and-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.h-section6 {
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  width: 100%;
  font-weight: 800;
  color: $white;
  width: auto;
  transition: 0.2s ease-in-out;
  margin-bottom: 0.5rem;
  &:hover,
  :focus,
  :active {
    color: $eastern-blue-500;
  }
}

.title-name-tour {
  font-size: 1.2rem;
  font-weight: 500;
}

.name-tag-red {
  color: $red-300;
  font-weight: 800;
}

.div_for_p-section6 {
  margin-top: 1.5rem;
}
.p_section6-mini-description {
  font-size: 0.8rem;
  color: $grey-600;
}
#tour-date-months {
  margin-right: 0.5rem;
}
.p_section6 {
  font-size: 1rem;
  line-height: 2rem;
}

//btn 1
.two-btn-tour-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
}

.btn-tour-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.btn-tour {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: $grey-700;
  color: $white;
  width: 14rem;
  height: auto;
  /*  margin: 1rem 0 */
  font-size: 1rem;
  font-weight: 700;
  transition: 0.1s ease-in-out;

  &:hover,
  :focus,
  :active {
    outline: none;
    transform: scale(1.1);
    background-color: $grey-600;
    color: $black-900;
  }
}
//2 btn album info
.btn-album-info-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.btn-album-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 0.1rem solid $grey-700;
  color: $white;
  width: 14rem;
  height: auto;
  /* margin: 1rem 0; */
  font-size: 1rem;
  font-weight: 700;
  transition: 0.1s ease-in-out;

  &:hover,
  :focus,
  :active {
    outline: none;
    transform: scale(1.1);
    background-color: $grey-600;
    color: $black-900;
  }
}
//footer new
// footer

//top footer

.hr-line-footer {
  width: 100%;
  border: none;
  background-color: $grey-600;
  height: 0.05rem;
  opacity: 0.1;
}
footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 0rem 1rem;
}
.footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem 1rem;
}
.footer-a-1,
.footer-a-2 {
  display: flex;
  flex-direction: column;
  width: auto;
}

.nav-a-footer {
  color: $amulet-green-400;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  padding: 0.5rem;
  &:hover {
    transform: scale(1.05);
    color: $grey-600;
  }
}
//footer form -newsletter
.description-and-email-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  gap: 0.5rem;
  width: 100%;
  height: auto;
}
.email-input-description {
  padding: 2rem 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: $grey-600;
}
.input-wth-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  border-bottom: 0.1rem solid $white;
}

.input-email {
  width: 80%;
  height: auto;
  line-height: 2rem;
  font-size: 1.4rem;
  background-color: transparent;
  color: $white;
  border: none;
  margin-right: 0;
  padding: 1rem 0;
  &:focus {
    outline: none;
  }
}
.send-btn {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.1rem solid;
  background-color: transparent;
  color: $eastern-blue-500;
  padding: 0;
  margin-left: 0;
  width: auto;
  height: auto;
  transition: 0.2s ease-in-out;
  font-size: 1.4rem;
  padding: 0.5rem;
  z-index: 1;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    color: $grey-500;
  }
  &:focus {
    transform: scale(1.1);
    color: $amulet-green-400;
  }
}
//bottom footer

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.footer-p-and-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 1rem;
  padding-top: 1rem;
}

.nav-a-footer-social {
  padding: 0 0.5rem;
}

#bottom-footer-social-1,
#bottom-footer-social-2,
#bottom-footer-social-3,
#bottom-footer-social-4,
#bottom-footer-social-5,
#bottom-footer-social-6,
#bottom-footer-social-7,
#bottom-footer-social-8,
#bottom-footer-social-9 {
  font-size: 1.4rem;
  color: $grey-500;
  cursor: pointer;

  &:hover {
    transition: 0.1s ease-in-out;
    transform: scale(1.2);
    color: $amulet-green-400;
  }
}
.time-and-rights {
  font-size: 1rem;
  color: $grey-500;
  font-size: 600;
}
//about me
.about-me {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding-top: 2rem;
}
#description-about-me {
  font-size: 1rem;
  width: 80%;
  padding-bottom: 1rem;
}
#anchor-description-about-me {
  text-decoration: none;
  color: $grey-500;
  font-weight: 800;
  transition: 0.1s ease-in-out;
  &:hover {
    color: $eastern-blue-500;
  }
}

#my-name-is {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.my-social {
  font-size: 3rem;
  color: $ming-blue-600;
  transition: 0.1s ease-in-out;
  &:hover {
    color: $amulet-green-400;
  }
}

//media queries for 375px screens

@media (min-width: 375px) {
  .name-and-logo {
    gap: 2rem;
    line-height: 4.2rem;
  }
  .h1-main-name {
    font-size: 2.1rem;
  }
  .img-square-section {
    width: 2.1rem;
    height: 2.1rem;
  }
}

//media queries for 425px screens

@media (min-width: 425px) {
  //toggle menu
  .all-inside {
    padding: 2rem;
  }
  .toggle_menu-a {
    font-size: 1.4rem;
  }

  //section 1 +0.2rem or 1rem

  /* .section-1-card {
    padding: 3rem 2rem;
} */
  //name and logo
  .link-to-story {
    text-decoration: none;
    color: $white;
    cursor: pointer;
  }

  .name-and-logo {
    gap: 2.2rem;
    line-height: 4.6rem;
  }
  .h1-main-name {
    font-size: 2.3rem;
  }
  .img-square-section {
    width: 2.3rem;
    height: 2.3rem;
  }
  //main description

  .p_description {
    line-height: 2.2rem;
    font-size: 1.1rem;
    max-width: 36rem;
  }
  .hr-line-to-p {
    height: 0.1rem;
    margin: 1rem 0;
  }

  .h2_description {
    line-height: 3.2rem;
    font-size: 1.6rem;
  }

  //btn discover story

  .btn-discover {
    /* padding: 0.5rem 1rem; */ //bez zmian
    width: 18rem;
    height: auto;
    margin: 1.5rem 0;
    font-size: 1.2rem;
  }
  //! section 2 i 4 padding 3rem 2rem

  // section 2 new albums with section 4 latest singles
  .section-2,
  .section-4 {
    padding: 3rem 2rem;
    gap: 1rem;
  }
  .h-section-2,
  .h-section-4 {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }

  //albums thing
  .albums-chooser,
  .singles-chooser {
    min-height: 22rem; //pocco?
    gap: 2rem;
  }
  .album-cover,
  .single-cover {
    width: 8.5rem;
    height: auto;
    min-height: 8.5rem;
    min-width: 8.5rem;
  }
  .album,
  .single {
    width: 8.5rem;
    height: auto;
    min-height: 14rem;
  }
  .song-title-small {
    font-size: 1rem;
    margin-top: 0.7rem;
  }

  .content-small {
    gap: 0.4rem;
  }

  .date-small {
    font-size: 1rem;
  }

  .dots-separator-album,
  .dots-separator-single {
    font-size: 1.6rem;
  }

  //btn for view collection
  //btn
  .btn-view-collection {
    /* 
    padding: 0.5rem 1rem; */
    width: 18rem;
    height: auto;
    margin: 1.5rem 0;
    font-size: 1.2rem;
  }

  //section3 music app chooser

  .section3 {
    padding: 0 2rem;
  }
  .h2-section3 {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
  .dot-and-introduction-chooser {
    gap: 0.5rem;
    line-height: 2rem;
    /*  margin: 0.5rem 0 2rem 0; */
  }
  .p_introduction-chooser {
    font-size: 1rem;
  }
  #dot-introduction-chooser {
    font-size: 0.8rem;
  }

  .hr-line-to-sections-chooser {
    height: 0.1rem;
    /* margin-top: 2rem ; */
  }
  //section 5 shop
  .h-section5 {
    font-size: 1.8rem;
    line-height: 3.6rem;
  }

  .visit-shop-and-icons {
    margin-bottom: 1.5rem;
    gap: 1rem;
  }
  #store-icon {
    font-size: 1.8rem;
    line-height: 3.6rem;
  }

  .p_section5 {
    font-size: 1.1rem;
    line-height: 2.2rem;
    max-width: 36rem;
  }
  #shop-cta-p {
    font-size: 1.3rem;
    line-height: 2.6rem;
  }
  //slider img shop
  .div-albums-buy-scroll {
    padding: 2rem 0;
    margin: 0 0 1.5rem 0;
  }

  .album-to-buy-img {
    width: 14rem;
  }
  // div under img

  .shop-dream-chasers {
    max-width: 14rem;
  }

  //btn for check out shop
  .btn-shop {
    width: 18rem;
    height: auto;
    margin: 1.5rem 0;
    font-size: 1.2rem;
  }
  //section 6 tour

  .section6 {
    padding: 3rem 2rem;
  }
  .tour-and-title {
    gap: 0.5rem;
  }

  .h-section6 {
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
  }

  .title-name-tour {
    font-size: 1.4rem;
  }

  .p_section6-mini-description {
    font-size: 0.9rem;
  }
  .p_section6 {
    font-size: 1.1rem;
    line-height: 2.2rem;
    max-width: 36rem;
  }

  //btn 1
  .two-btn-tour-div {
    margin-top: 3rem;
    gap: 2rem;
  }

  .btn-tour {
    width: 18rem;
    height: auto;
    /* margin: 1.5rem 0; */
    font-size: 1.2rem;
  }
  //2 btn album info
  .btn-album-info {
    width: 18rem;
    height: auto;
    /* margin: 1.5rem 0; */
    font-size: 1.2rem;
  }

  //footer
  //top footer
  footer {
    padding: 0rem 2rem;
  }
  .nav-a-footer {
    font-size: 1.6rem;
  }
  /*  .send-btn {
        padding: 0.5rem 1rem;
    } */
  //footer boottom

  #bottom-footer-social-1,
  #bottom-footer-social-2,
  #bottom-footer-social-3,
  #bottom-footer-social-4,
  #bottom-footer-social-5,
  #bottom-footer-social-6,
  #bottom-footer-social-7,
  #bottom-footer-social-8,
  #bottom-footer-social-9 {
    font-size: 1.8rem;
  }
  .time-and-rights {
    font-size: 1.2rem;
  }
  //about me
  #description-about-me {
    font-size: 1.2rem;
    width: 80%;
    padding-bottom: 1.5rem;
  }
}
// media q for 768px screens

@media (min-width: 768px) {
  //toggle menu
  .toggle-menu {
    width: 60%;
    right: 0;
  }
  //section 1
  .section-1-card {
    padding: 3rem 2rem;
  }

  .name-and-logo {
    gap: 2.4rem;
    line-height: 5rem;
  }
  .h1-main-name {
    font-size: 2.5rem;
  }
  .img-square-section {
    width: 2.5rem;
    height: 2.5rem;
  }
  //introduction
  .dot-and-introduction {
    gap: 1rem;
    line-height: 2rem;
  }
  .p_introduction {
    font-size: 1rem;
  }
  #dot-introduction {
    font-size: 0.8rem;
  }

  //main description

  .p_description {
    line-height: 2.6rem;
    font-size: 1.3rem;
    max-width: 44rem;
  }
  .hr-line-to-p {
    height: 0.1rem;
    margin: 1.5rem 0;
  }

  .h2_description {
    line-height: 3.6rem;
    font-size: 1.8rem;
  }

  //btn discover story

  .btn-discover {
    padding: 1rem;
    width: 22rem;
    height: auto;
    margin: 2rem 0;
    font-size: 1.4rem;
  }
  //! section 2 i 4 padding 4rem 3rem

  // section 2 new albums with section 4 latest singles
  .section-2,
  .section-4 {
    padding: 4rem 3rem;
    gap: 1rem;
  }
  .h-section-2,
  .h-section-4 {
    font-size: 1.8rem;
    margin-bottom: 2.6rem;
  }

  //albums thing
  .albums-chooser,
  .singles-chooser {
    min-height: 24rem;
    gap: 2rem;
  }
  .album-cover,
  .single-cover {
    width: 9rem;
    height: auto;
    min-height: 9rem;
    min-width: 9rem;
  }
  .album,
  .single {
    width: 9rem;
    height: auto;
    min-height: 16rem;
  }
  .song-title-small {
    font-size: 1.1rem;
    margin-top: 0.8rem;
  }

  .content-small {
    gap: 0.5rem;
  }

  .date-small {
    font-size: 1.1rem;
  }

  .dots-separator-album,
  .dots-separator-single {
    font-size: 1.7rem;
  }

  //btn for view collection
  //btn
  .btn-view-collection {
    padding: 1rem;
    width: 22rem;
    height: auto;
    margin: 2rem 0;
    font-size: 1.4rem;
  }

  //section3 music app chooser

  .section3 {
    padding: 0 3rem;
  }
  .h2-section3 {
    font-size: 1.8rem;
    line-height: 3.6rem;
  }
  .dot-and-introduction-chooser {
    gap: 0.6rem;
    line-height: 2.2rem;
    margin: 0.5rem 0 2.5rem 0;
  }
  .p_introduction-chooser {
    font-size: 1.1rem;
  }
  #dot-introduction-chooser {
    font-size: 0.9rem;
  }
  #box-1,
  #box-2,
  #box-3,
  #box-4,
  #box-5 {
    font-size: 2.2rem;
  }

  .hr-line-to-sections-chooser {
    height: 0.1rem;
    margin-top: 2rem;
  }
  //section 5 shop

  .div-section5-opacity-bg {
    padding: 3rem 2rem 1rem 2rem;
  }
  .h-section5 {
    font-size: 2rem;
    line-height: 4rem;
  }
  #store-icon {
    font-size: 2rem;
    line-height: 4rem;
  }

  .visit-shop-and-icons {
    margin-bottom: 2rem;
  }

  .p_section5 {
    font-size: 1.3rem;
    line-height: 2.6rem;
    max-width: 44rem;
  }
  #shop-cta-p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  //slider img for shop
  .div-albums-buy-scroll {
    padding: 2.5rem 0;
    margin-bottom: 0.5rem;
  }
  //btn for check out shop
  .btn-shop {
    padding: 1rem;
    width: 22rem;
    height: auto;
    margin: 3rem 0;
    font-size: 1.4rem;
  }
  //section 6 tour

  .section6 {
    padding: 4rem 3rem;
  }
  .tour-and-title {
    gap: 0.7rem;
  }

  .h-section6 {
    font-size: 1.8rem;
    line-height: 3.6rem;
    margin-bottom: 1rem;
  }

  .title-name-tour {
    font-size: 1.6rem;
  }

  .p_section6-mini-description {
    font-size: 1.1rem;
  }
  .p_section6 {
    font-size: 1.3rem;
    line-height: 2.6rem;
    max-width: 44rem;
  }

  //btn 1
  .two-btn-tour-div {
    margin-top: 4rem;
    gap: 3rem;
  }

  .btn-tour {
    padding: 1rem;
    width: 22rem;
    height: auto;
    font-size: 1.4rem;
  }
  //2 btn album info
  .btn-album-info {
    padding: 1rem;
    width: 22rem;
    height: auto;
    /* margin: 1.5rem 0; */
    font-size: 1.4rem;
  }
  //footer top
}

//media q for 1024px

@media (min-width: 1024px) {
  //
  // hide mobile menu and nav for desktop row - 1024+
  .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $shadow-black-transparent;
    backdrop-filter: blur(0.5rem);
    width: 100%;
    height: 3.5rem;
    padding: 0 2rem;
    position: fixed;
    z-index: 2;
  }

  #logo {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.75rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
  }
  #chevron-to-show-social-menu {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.75rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      color: $grey-500;
      background-color: $black-600;
      border-radius: 50%;
    }
    &.rotate {
      transform: rotate(180deg);
    }
  }

  #dropdown-menu-icon {
    display: none;
  }

  .nav-desktop {
    display: block;
    width: 80%;
  }
  .desktop_menu-a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem 0rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
  }

  .nav-a-desktop-menu {
    text-decoration: none;
    color: $grey-500;
    transition: 0.1s ease-in-out;
    &:hover {
      transform: scale(1.05);
      color: $grey-600;
    }
  }

  //toggle menu
  .toggle-menu {
    display: none;
  }

  //hide this nav for small screens - social
  // social icons are hidden
  .toggle-column-right {
    display: none;
  }

  .top-nav-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 5rem 2rem;
    right: 0;
    gap: 0.5rem;
    position: fixed;
    z-index: 1;
  }
  .top-nav-desktop-hidden {
    display: none;
  }

  .nav-a-social {
    display: block; //test
    text-decoration: none;
    color: $white;
    margin: 0.2rem 0;
    cursor: pointer;
  }

  #nav-a-1,
  #nav-a-2,
  #nav-a-3,
  #nav-a-4,
  #nav-a-5,
  #nav-a-6,
  #nav-a-7,
  #nav-a-8,
  #nav-a-9 {
    font-size: 1.75rem;
    transition: 0.1s ease-in-out;
    &:hover {
      transform: scale(1.2);
      color: $grey-500;
    }
  }
  /*  .top-content {
        padding: 0 2rem;
    } */

  //section1 1024px

  .section-1 {
    padding: 5rem 1rem 0 1rem;
  }
  .section-1-card {
    padding: 4rem 3rem;
  }

  .name-and-logo {
    gap: 2.6rem;
    line-height: 5.4rem;
  }
  .h1-main-name {
    font-size: 2.7rem;
  }
  .img-square-section {
    width: 2.7rem;
    height: 2.7rem;
  }
  //introduction
  .dot-and-introduction {
    gap: 1.2rem;
    line-height: 2.4rem;
  }
  .p_introduction {
    font-size: 1.2rem;
  }
  #dot-introduction {
    display: flex;
    font-size: 0.8rem;
  }

  //main description

  .p_description {
    line-height: 2.8rem;
    font-size: 1.4rem;
    max-width: 46rem;
  }
  .hr-line-to-p {
    height: 0.1rem;
    margin: 2rem 0;
  }

  .h2_description {
    line-height: 3.8rem;
    font-size: 1.9rem;
  }

  //btn discover story

  //! section 2 i 4 padding 5.5 4.5 ma byc wieksze niz section 1 o 0.5rem

  // section 2 new albums with section 4 latest singles
  .section-2,
  .section-4 {
    padding: 5.5rem 4.5rem;
    gap: 1.5rem;
  }
  .h-section-2,
  .h-section-4 {
    font-size: 2rem;
    margin-bottom: 2.8rem;
  }

  //albums thing
  .albums-chooser,
  .singles-chooser {
    min-height: 26rem;
    gap: 2rem;
  }
  .album-cover,
  .single-cover {
    width: 10rem;
    height: auto;
    min-height: 10rem;
    min-width: 10rem;
  }
  .album,
  .single {
    width: 10rem;
    height: auto;
    min-height: 18rem;
  }
  .song-title-small {
    font-size: 1.2rem;
    margin-top: 0.9rem;
  }

  .content-small {
    gap: 0.6rem;
  }

  .date-small {
    font-size: 1.2rem;
  }

  .dots-separator-album,
  .dots-separator-single {
    font-size: 1.8rem;
  }

  //section3 music app chooser

  .section3 {
    padding: 0 4.5rem;
  }
  .h2-section3 {
    font-size: 2rem;
    line-height: 4rem;
  }
  .dot-and-introduction-chooser {
    gap: 0.8rem;
    line-height: 2.4rem;
    margin: 0.5rem 0 3rem 0;
  }
  .p_introduction-chooser {
    font-size: 1.2rem;
  }
  #dot-introduction-chooser {
    font-size: 1rem;
  }
  #box-1,
  #box-2,
  #box-3,
  #box-4,
  #box-5 {
    font-size: 2.4rem;
  }

  .hr-line-to-sections-chooser {
    height: 0.1rem;
    margin-top: 3rem;
  }
  //!section 5 shop

  .section5 {
    padding: 4rem 1rem 4rem 1rem;
  }
  .div-section5-opacity-bg {
    padding: 4rem 3rem 1rem 3rem;
  }

  .h-section5 {
    font-size: 2.2rem;
    line-height: 4.4rem;
  }

  #store-icon {
    font-size: 2.2rem;
    line-height: 4.4rem;
  }

  .visit-shop-and-icons {
    margin-bottom: 2.2rem;
  }

  .p_section5 {
    font-size: 1.4rem;
    line-height: 2.8rem;
    max-width: 46rem;
  }
  #shop-cta-p {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
  //shop slider album
  .div-albums-buy-scroll {
    padding: 3rem 0;
    margin: 0;
  }

  .album-to-buy-img {
    width: 15rem;
  }
  .inner-div-albums-buy-scroll {
    gap: 2rem;
  }

  // div under img

  .shop-dream-chasers {
    max-width: 15rem;
    margin-top: 1.5rem;
  }

  .dream-shop-icon {
    font-size: 1.3rem;
  }
  .dream-chasers-fig {
    font-size: 1.1rem;
  }
  //btn for check out shop

  //!section 6 tour 1024

  /* .section6 {
        padding: 4rem 3rem;
    } */
  .section6 {
    padding: 4rem 4.5rem;
  }
  .tour-and-title {
    gap: 0.9rem;
  }

  .h-section6 {
    font-size: 2rem;
    line-height: 4rem;
    margin-bottom: 1.2rem;
  }

  .title-name-tour {
    font-size: 1.6rem;
  }

  /* .div_for_p-section6 {
        margin-top: 1.5rem;
    } */
  .p_section6-mini-description {
    font-size: 1.2rem;
  }
  .p_section6 {
    font-size: 1.4rem;
    line-height: 2.8rem;
    max-width: 46rem;
  }

  //btn 1
  .two-btn-tour-div {
    margin-top: 4rem;
    gap: 3rem;
  }

  .btn-tour {
    padding: 1rem;
    width: 22rem;
    height: auto;
    font-size: 1.4rem;
  }
  //2 btn album info
  .btn-album-info {
    padding: 1rem;
    width: 22rem;
    height: auto;
    /* margin: 1.5rem 0; */
    font-size: 1.4rem;
  }
  //!footer
  //footer'top

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    padding: 4rem;
  }
  .footer-a-1,
  .footer-a-2 {
    gap: 1rem;
  }
  .description-and-email-input {
    width: 40%;
    gap: 1rem;
  }

  //footer bottom
  .footer-p-and-nav {
    padding-top: 2rem;
  }
  .nav-a-footer-social {
    padding: 0 1rem;
  }
}

//media for 1440 screens

@media (min-width: 1440px) {
  //nav top
  #nav-a-1,
  #nav-a-2,
  #nav-a-3,
  #nav-a-4,
  #nav-a-5,
  #nav-a-6,
  #nav-a-7,
  #nav-a-8,
  #nav-a-9 {
    font-size: 2rem;
  }
  //toggle menu
  .toggle-menu {
    width: 20%;
    transform: translateY(4rem);
  }
  .toggle_menu-a {
    font-size: 1.6rem;
  }
  //! desktop menu 1440
  .top-content {
    width: 100%;
    height: 4rem;
  }

  #logo,
  #chevron-to-show-social-menu {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }
  .desktop_menu-a {
    gap: 2rem;

    font-size: 1.2rem;
  }

  //! section1 1440px
  .section-1 {
    padding: 5rem 1.5rem 0 1.5rem;
  }
  .section-1-card {
    padding: 4rem 6rem;
  }
  .p_description {
    max-width: 52rem;
  }
  //! section 2 i 4 padding 5.5 4.5 ma byc wieksze niz section 1 o 0.5rem

  // section 2 new albums with section 4 latest singles
  .section-2,
  .section-4 {
    padding: 5.5rem 8rem;
    gap: 2rem;
  }
  //! section3 music app chooser

  .section3 {
    padding: 0 8rem;
  }

  //! section 5 shop

  .section5 {
    padding: 4rem 1.5rem 4rem 1.5rem;
  }
  .div-section5-opacity-bg {
    padding: 4rem 6rem 2rem 6rem;
  }
  .p_section5 {
    max-width: 54rem;
  }
  //slider album shop
  .inner-div-albums-buy-scroll {
    gap: 3rem;
  }
  //! section 6 tour 1024

  .section6 {
    padding: 4rem 8rem;
  }
  .tour-and-title {
    gap: 1rem;
  }
  .p_section6 {
    max-width: 54rem;
  }
  //footer'top

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem;
    padding: 6rem;
  }
  .description-and-email-input {
    gap: 2rem;
  }

  //footer bottom
  .footer-bottom {
    padding: 0 6rem;
  }

  .footer-p-and-nav {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }
  .nav-a-footer-social {
    padding: 0 2rem;
  }
  #bottom-nav-a-1,
  #bottom-nav-a-2,
  #bottom-nav-a-3,
  #bottom-nav-a-4,
  #bottom-nav-a-5,
  #bottom-nav-a-6,
  #bottom-nav-a-7,
  #bottom-nav-a-8,
  #bottom-nav-a-9 {
    font-size: 2.5rem;
  }
  .time-and-rights {
    font-size: 1.2rem;
  }
  //about me
  .about-me {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 2rem;
  }
  #description-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6rem;
    gap: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
  }
  .my-name-and-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    width: 100%;
    gap: 1rem;
  }
  #my-name-is {
    font-size: 1.6rem;
    padding: 1rem 0;
  }
  .my-social {
    font-size: 3.2rem;
    color: $ming-blue-600;
    transition: 0.1s ease-in-out;
  }
}
