#logo {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.75rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
#chevron-to-show-social-menu {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.75rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
        color: $grey-500;
        background-color: $black-600;
        border-radius: 50%;
    }
    &.rotate {
        transform: rotate(180deg);
      }
}