//font

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

//colors variety import from  separate color stylesheet
$white: #f2f2f2;
$red-300: #f14343;
$red-500: #cd3737;
$red-700: #b61a1a;
$grey-500: #dcdcdc;
$grey-600: #8d8c8c;
$grey-700: #3e3c3c;
$black-900: #120f10;
$black-700: #1c1b1b;
$black-600: #120f10;
$eastern-blue-500: #26acac;
$amulet-green-400: #85ab7b;
$ming-blue-600: #367983;

//mini- SINGLES shadows and more
$shadow-a-horse: rgba(23, 59, 59, 0.5);
$color-a-horse: rgba(42, 78, 79, 1);

$shadow-chrysanthemums: rgba(181, 141, 140, 0.5);
$color-chrysanthemums: rgba(218, 118, 144, 1);

$shadow-sunset-bye-narew: rgba(163, 105, 71, 0.5);
$color-sunset-bye-narew: rgba(150, 62, 12, 1);

$shadow-other-than: rgba(106, 104, 101, 0.5);
$color-other-than: rgba(230, 112, 10, 1);

$shadow-dark-single: rgba(133, 169, 167, 0.5);
$color-dark-single: rgba(151, 212, 210, 1);

$shadow-lake: rgba(244, 171, 239, 0.5);
$color-lake: rgb(98, 45, 95);
//new
$shadow-still-the-same: rgba(119, 82, 172, 0.5);
$color-still-the-same: rgba(125, 86, 104, 1);

$shadow-thinkers-hermanos: rgba(160, 146, 126, 0.5);
$color-thinkers-hermanos: rgba(222, 219, 193, 1);

$shadow-most-known-unknown: rgba(137, 131, 45, 0.5);
$color-most-known-unknown: rgba(157, 154, 40, 1);

$shadow-tunnel-vision: rgba(141, 15, 6, 0.5);
$color-tunnel-vision: rgba(222, 19, 16, 1);

$shadow-masurian-ghost: rgba(117, 134, 33, 0.5);
$color-masurian-ghost: rgba(101, 126, 24, 1);

$shadow-change-direction: rgba(185, 152, 85, 0.5);
$color-change-direction: rgba(200, 171, 114, 1);

$shadow-tiki-taki: rgba(87, 113, 151, 0.5);
$color-tiki-taki: rgba(90, 116, 149, 1);

$shadow-blurry: rgba(98, 16, 52, 0.5);
$color-blurry: rgba(129, 27, 67, 1);

$shadow-wolf: rgba(139, 178, 179, 0.5);
$color-wolf: rgba(151, 201, 190, 1);

$shadow-phoenix: rgba(32, 188, 255, 0.5);
$color-phoenix: rgba(120, 179, 222, 1);

//mini- albums shadows and more
$shadow-wave: rgba(109, 13, 113, 0.5);
$color-wave: rgba(53, 17, 127, 1);

$shadow-flashback-normal: rgba(211, 142, 122, 0.5);
$color-flashback-normal: rgba(235, 152, 120, 1);

$shadow-flashback-deluxe: rgba(210, 146, 164, 0.5);
$color-flashback-deluxe: rgba(210, 146, 164, 1);

$shadow-arena-of-autumnn: rgba(185, 169, 71, 0.5);
$color-arena-of-autumnn: rgba(185, 169, 71, 1);

$shadow-galaktkitty: rgba(50, 23, 78, 0.5);
$color-galaktkitty: rgba(175, 160, 212, 1);

$shadow-king-of-for-and-muds: rgba(181, 133, 94, 0.5);
$color-king-of-for-and-muds: rgba(181, 133, 94, 1);

$shadow-red-path-to-zukunft: rgba(69, 25, 22, 0.5);

//other shadows
$shadow-green: rgba(133, 171, 123, 0.4);
$shadow-black: rgba(30, 29, 29, 0.6);
$shadow-black-transparent: rgba(0, 0, 0, 0.8);

* {
    margin: 0;
    box-sizing: border-box;
}

//styling

html {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background-color: $black-900;
    color: $white;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $shadow-black-transparent;
    backdrop-filter: blur(0.5rem);
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
    position: fixed;
    z-index: 2;
}

#logo,
#dropdown-menu-icon {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.75rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    &:hover {
        color: $grey-500;
    }
}

//toggle menu

.toggle-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: $black-600;
    transform: translateY(3.5rem);
    color: $grey-500;

    border-radius: 0 0 5% 5%;
    box-shadow: 1px 3px 15px $shadow-black-transparent;
    opacity: 0;
}

.toggle-menu.active {
    transition: 0.2s ease-in-out;
    opacity: 1;
    display: block;
    z-index: 2;
}

.all-inside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 1rem;
}

.toggle_menu-a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
}
.nav-a-toggle-menu {
    text-decoration: none;
    color: $amulet-green-400;
    transition: 0.1s ease-in-out;
    &:hover {
        /* text-decoration: underline 0.2rem $eastern-blue-500; */
        transform: scale(1.05);
        color: $grey-600;
    }
}

//right side toggle menu
.toggle-column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    gap: 0.5rem;
}

#toggle-menu-a-1,
#toggle-menu-a-2,
#toggle-menu-a-3,
#toggle-menu-a-4,
#toggle-menu-a-5,
#toggle-menu-a-6,
#toggle-menu-a-7,
#toggle-menu-a-8,
#toggle-menu-a-9 {
    color: $white;
    font-size: 1.75rem;
    transition: 0.1s ease-in-out;

    &:hover {
        transform: scale(1.2);
        color: $grey-500;
    }
}

/* bottom navigation */
.bottom-navigation-only {
    height: 49.8%;
    width: 100vw;
}

.bottom-nav-ul {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    list-style: none;
    font-size: 0.9rem;
    padding: 0 1.5rem;
    width: 100vw;
    height: auto;
}

.bottom-li-nav {
    margin: 1rem;
    gap: 1.5rem;
}

#bottom-li-nav-about,
#bottom-li-nav-jobs,
#bottom-li-nav-appren {
    cursor: pointer;
}

#bottom-li-nav-about {
    color: $amulet-green-400;
}
.nav-a-social {
    display: none;
}
//section 1

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 4rem 0.5rem 0 0.5rem;
    /* z-index: 1; */
}

.section-1-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    /* z-index: 1; */
    background-color: $shadow-black;
    border-radius: 2.5%;
}
//name and logo
.link-to-story {
    text-decoration: none;
    color: $white;
    cursor: pointer;
}

.name-and-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 1.3rem;
    line-height: 3.8rem;
}
.h1-main-name {
    color: $white;
    font-weight: 800;
    width: auto;
    font-size: 1.9rem;
    &:hover,
    :focus,
    :active {
        color: $eastern-blue-500;
    }
}
.img-square-section {
    width: 1.9rem;
    height: 1.9rem;
}

//introduction
.dot-and-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*  width: 100%;
    height: auto; */
    gap: 0.5rem;
    line-height: 1.6rem;
}
.p_introduction {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 0.8rem;
    color: $grey-600;
}
#dot-introduction {
    color: $amulet-green-400;
    font-size: 0.6rem;
}
//main description

.p_description {
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 500;
}
.hr-line-to-p {
    border: none;
    width: 100%;
    background-color: $grey-700;
    height: 0.05rem;
    opacity: 0.1;
    margin: 0.5rem 0;
}

.h2_description {
    line-height: 2.8rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.name-in-p-green {
    color: $amulet-green-400;
    font-weight: 700;
}
.name-in-p-blue {
    color: $eastern-blue-500;
    font-weight: 700;
}

//btn discover story
.discover-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
}
.btn-discover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $grey-700;
    color: $white;
    width: 14rem;
    height: auto;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.1s ease-in-out;

    &:hover,
    :focus,
    :active {
        outline: none;
        transform: scale(1.1);
        background-color: $grey-600;
        color: $black-900;
    }
}
.hr-line-to-sections {
    border: none;
    width: 100%;
    background-color: $grey-700;
    height: 0.05rem;
    opacity: 0.1;
    margin-top: 0.5rem;
}

//! section 2 tour dates
.section-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
}
.month-div {
    display: none;
}

.month-div.active {
    display: block;
}

//btn chooser
.btns-chooser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 0.5rem;
    padding: 0 0 0.5rem 0;
    margin-bottom: 1.5rem;
    background-color: $black-900;
    border-bottom: 0.4rem solid $black-700;
    position: sticky;
    top: 3.5rem;
    z-index: 1;
}

.btns-chooser.reached {
    position: static;
}
.hr-line-under-btns {
    border: none;
    width: 100%;
    background-color: $grey-700;
    height: 0.05rem;
    opacity: 0.1;
    margin-bottom: 1.5rem;
}

.btn-month {
    width: 25%;
    height: 2.5rem;
    /* border-radius: 5%; */
    border-radius: 0.5rem;

    outline: none;
    cursor: pointer;
    border: none;
    font-weight: 600;
    background-color: transparent;
    color: $white;
    border: 0.1rem $grey-600;
    font-size: 0.8rem;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: $grey-700;
        color: $white;
    }
}
.btn-month.active {
    background-color: $red-300;
    color: $black-900;
    opacity: 1;
}
//end

.h-section-2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 2rem;
    font-weight: 700;
}
.section-2-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    &:hover {
        border-bottom: 0.1rem solid $grey-700;
    }
}
.a-link-card {
    color: $white;
    text-decoration: none;
}
.tour-dates-all-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 1rem;
}
.date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
}
.city {
    display: flex;
}
.place {
    display: flex;
    gap: 0.5rem;
}
.city-place-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    font-size: 1rem;
    width: 100%;
    gap: 0.5rem;
    padding-top: 0.5rem;
    height: auto;
}
//btn
.btn-details-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.btn-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 0.1rem solid $grey-700;
    color: $white;
    width: 14rem;
    height: auto;
    /* margin: 1rem 0; */
    font-size: 1rem;
    font-weight: 700;
    transition: 0.1s ease-in-out;

    &:hover,
    :focus,
    :active {
        outline: none;
        transform: scale(1.1);
        background-color: $grey-600;
        color: $black-900;
    }
}
.name-tag-blue {
    color: $eastern-blue-500;
}
.name-tag-green {
    color: $amulet-green-400;
}

.hr-line-to-sections-chooser {
    border: none;
    width: 100%;
    background-color: $grey-700;
    height: 0.05rem;
    opacity: 0.1;
    margin-top: 0.5rem;
}

//section 5 upcoming album

.section5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    background-color: $black-900;
}
.link-to-upcoming-album {
    text-decoration: none;
    color: $white;
    cursor: pointer;
}
.upcoming-album-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}
//img
.upcoming-album-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.upcoming-album-img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5%;
}
.inner-div-upcoming-album {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    transition: 0.1s ease-in-out;
    border-radius: 5%;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 8px $shadow-red-path-to-zukunft;
    }
}

.h-section5 {
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    width: 100%;
    font-weight: 800;
    color: $white;
    width: auto;
    transition: 0.2s ease-in-out;
    margin-bottom: 1rem;
    &:hover,
    :focus,
    :active {
        color: $eastern-blue-500;
    }
}

.title-upcoming-album {
    font-size: 1.2rem;
    font-weight: 500;
}

.name-tag-red {
    color: $red-300;
    font-weight: 800;
}

.div_for_p-section5 {
    margin-top: 1.5rem;
}
.p_section5-mini-description {
    font-size: 0.8rem;
    color: $grey-600;
}
#tour-date-months {
    margin-right: 0.5rem;
}
.p_section5 {
    font-size: 1rem;
    line-height: 2rem;
}
//hidden p only for 1024px scrrens and bigger
.p_section5-hidden {
    display: none;
}

//btn 1
.discover-album-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
}

.btn-discover-album {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.a-btn-discover-album {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $grey-700;
    color: $white;
    width: 14rem;
    height: auto;
    /*  margin: 1rem 0 */
    font-size: 1rem;
    font-weight: 700;
    transition: 0.1s ease-in-out;

    &:hover,
    :focus,
    :active {
        outline: none;
        transform: scale(1.1);
        background-color: $grey-600;
        color: $black-900;
    }
}

//footer new
// footer

//top footer

.hr-line-footer {
    width: 100%;
    border: none;
    background-color: $grey-600;
    height: 0.05rem;
    opacity: 0.1;
}
footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 0rem 1rem;
}
.footer-top {
    display: flex;
    flex-direction: column; // higher res change to row
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 1rem;
    gap: 0.5rem;
}
.footer-a-1,
.footer-a-2 {
    display: flex;
    flex-direction: column;
    /*  margin: 0.5rem; */
    width: auto;
}

.nav-a-footer {
    color: $amulet-green-400;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    &:hover {
        transform: scale(1.05);
        color: $grey-600;
    }
}

.description-and-email-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    height: auto;
    border-bottom: 0.1rem solid $white;
    gap: 0.5rem;
    width: 100%;
    height: auto;
}
.email-input-description {
    padding: 2rem 0 1rem 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: $grey-600;
}

.input-wth-btn {
    width: 100%;
    height: auto;
}

.input-email {
    width: 80%;
    height: auto;
    font-size: 1.4rem;
    background-color: transparent;
    color: $white;
    border: none;
    margin-right: 0;
    padding: 1rem 0;
    &:focus {
        outline: none;
        color: $white;
    }
}
.send-btn {
    border: 0;
    background-color: transparent;
    color: $eastern-blue-500;
    padding: 0;
    margin-left: 0;
    width: auto;
    height: auto;
    transition: 0.2s ease-in-out;
    font-size: 1.4rem;
    cursor: pointer;
    &:focus {
        transform: scale(1.1);
        color: $amulet-green-400;
    }
}
//bottom footer

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.footer-p-and-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 1rem;
    padding-top: 1rem;
}

.nav-a-footer-social {
    padding: 0 0.5rem;
}

#bottom-footer-social-1,
#bottom-footer-social-2,
#bottom-footer-social-3,
#bottom-footer-social-4,
#bottom-footer-social-5,
#bottom-footer-social-6,
#bottom-footer-social-7,
#bottom-footer-social-8,
#bottom-footer-social-9 {
    font-size: 1.4rem;
    color: $grey-500;
    cursor: pointer;

    &:hover {
        transition: 0.1s ease-in-out;
        transform: scale(1.2);
        color: $amulet-green-400;
    }
}
.time-and-rights {
    font-size: 1rem;
    color: $grey-500;
    font-size: 600;
}
//about me
.about-me {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding-top: 2rem;
}
#description-about-me {
    font-size: 1rem;
    width: 80%;
    padding-bottom: 1rem;
}
#anchor-description-about-me {
    text-decoration: none;
    color: $grey-500;
    font-weight: 800;
    transition: 0.1s ease-in-out;
    &:hover {
        color: $eastern-blue-500;
    }
}

#my-name-is {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
.my-social {
    font-size: 3rem;
    color: $ming-blue-600;
    transition: 0.1s ease-in-out;
    &:hover {
        color: $amulet-green-400;
    }
}

//media queries for 375px screens

@media (min-width: 375px) {
    .name-and-logo {
        gap: 2rem;
        line-height: 4.2rem;
    }
    .h1-main-name {
        font-size: 2.1rem;
    }
    .img-square-section {
        width: 2.1rem;
        height: 2.1rem;
    }
}

//media queries for 425px screens

@media (min-width: 425px) {
    //toggle menu
    .all-inside {
        padding: 2rem;
    }
    .toggle_menu-a {
        font-size: 1.4rem;
    }

    //section 1 +0.2rem or 1rem

    /* .section-1-card {
    padding: 3rem 2rem;
} */
    //name and logo
    .link-to-story {
        text-decoration: none;
        color: $white;
        cursor: pointer;
    }

    .name-and-logo {
        gap: 2.2rem;
        line-height: 4.6rem;
    }
    .h1-main-name {
        font-size: 2.3rem;
    }
    .img-square-section {
        width: 2.3rem;
        height: 2.3rem;
    }
    //main description

    .p_description {
        line-height: 2.2rem;
        font-size: 1.1rem;
        max-width: 36rem;
    }
    .hr-line-to-p {
        height: 0.1rem;
        margin: 1rem 0;
    }

    .h2_description {
        line-height: 3.2rem;
        font-size: 1.6rem;
    }

    //btn discover story

    .btn-discover {
        /* padding: 0.5rem 1rem; */ //bez zmian
        width: 18rem;
        height: auto;
        margin: 1.5rem 0;
        font-size: 1.2rem;
    }
    //! section 2
    //! section 2 tour dates
    .section-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 2rem 1.5rem;
    }

    //btn chooser
    .btns-chooser {
        padding: 0 0 1rem 0;
        margin-bottom: 2rem;
        /*  top: 3.5rem; */
    }

    .btn-month {
        width: 25%;
        height: 3rem;
        font-size: 0.9rem;
    }

    .h-section-2 {
        font-size: 1.6rem;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 2.4rem;
        font-weight: 700;
    }

    .tour-dates-all-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 1rem;
    }
    /* .city {
    display: flex;
}
.place {
    display: flex;
    gap: 0.5rem;
} */
    .row-date-place-location {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        /* height: 5rem; */
        height: auto;
        width: 100%;
        gap: 0.5rem;
    }
    .date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem;
        width: auto;
    }
    .city-place-div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        font-size: 1rem;
        width: 100%;
        gap: 0.5rem;
        padding: 0;
        height: auto;
    }
    //btn

    .btn-details-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    .hr-line-to-sections-chooser {
        height: 0.1rem;
        /*     margin-top: 0.5rem; */
    }

    //!section 5 tour

    .section5 {
        padding: 3rem 2rem;
    }
    .upcoming-album-title {
        gap: 0.5rem;
    }

    .h-section5 {
        font-size: 1.6rem;
        line-height: 3.2rem;
        margin-bottom: 1rem;
    }

    .title-upcoming-album {
        font-size: 1.4rem;
    }

    .p_section5-mini-description {
        font-size: 0.9rem;
    }
    .p_section5 {
        font-size: 1.1rem;
        line-height: 2.2rem;
        max-width: 36rem;
    }
    //img
    .upcoming-album-img-div {
        /*  display: flex;
        justify-content: center;
        align-items: center; */
        margin: 2rem 0;
    }

    .upcoming-album-img {
        width: 100%;
        height: auto;
    }
    .inner-div-upcoming-album {
        /*  display: flex;
        justify-content: center;
        align-items: center; */
        margin: 0 2rem;
        max-width: 31rem;
    }

    //btn 1
    .discover-album-div {
        margin-top: 3rem;
        gap: 2rem;
    }

    .a-btn-discover-album {
        width: 18rem;
        height: auto;
        /* margin: 1.5rem 0; */
        font-size: 1.2rem;
    }

    //footer
    //top footer
    footer {
        padding: 0rem 2rem;
    }
    .nav-a-footer {
        font-size: 1.6rem;
    }
    //footer boottom

    #bottom-footer-social-1,
    #bottom-footer-social-2,
    #bottom-footer-social-3,
    #bottom-footer-social-4,
    #bottom-footer-social-5,
    #bottom-footer-social-6,
    #bottom-footer-social-7,
    #bottom-footer-social-8,
    #bottom-footer-social-9 {
        font-size: 1.8rem;
    }
    .time-and-rights {
        font-size: 1.2rem;
    }
    //about me
    #description-about-me {
        font-size: 1.2rem;
        width: 80%;
        padding-bottom: 1.5rem;
    }
}
// media q for 768px screens

@media (min-width: 768px) {
    //toggle menu
    .toggle-menu {
        width: 60%;
        right: 0;
    }
    //section 1
    .section-1-card {
        padding: 3rem 2rem;
    }

    .name-and-logo {
        gap: 2.4rem;
        line-height: 5rem;
    }
    .h1-main-name {
        font-size: 2.5rem;
    }
    .img-square-section {
        width: 2.5rem;
        height: 2.5rem;
    }
    //introduction
    .dot-and-introduction {
        gap: 1rem;
        line-height: 2rem;
    }
    .p_introduction {
        font-size: 1rem;
    }
    #dot-introduction {
        font-size: 0.8rem;
    }

    //main description

    .p_description {
        line-height: 2.6rem;
        font-size: 1.3rem;
        max-width: 44rem;
    }
    .hr-line-to-p {
        height: 0.1rem;
        margin: 1.5rem 0;
    }

    .h2_description {
        line-height: 3.6rem;
        font-size: 1.8rem;
    }

    //btn discover story

    .btn-discover {
        padding: 1rem;
        width: 22rem;
        height: auto;
        margin: 2rem 0;
        font-size: 1.4rem;
    }
    //! section 2
    //! section 2 tour dates
    .section-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 4rem 3rem;
    }

    //btn chooser
    .btns-chooser {
        margin-bottom: 3rem;
        /*  top: 3.5rem; */
    }
    .btn-month {
        width: 25%;
        height: 3rem;
        font-size: 1rem;
    }

    .h-section-2 {
        font-size: 1.8rem;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 2.6rem;
        font-weight: 700;
    }

    .tour-dates-all-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 3rem;
        /*  background-color: #342138; */
    }

    .row-date-place-location {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: auto;
        width: auto;
        /* gap: 1rem; */
    }
    .date {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }
    .city {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 7rem;
        width: auto;
        height: auto;
    }
    .place {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .city-place-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        font-size: 1rem;
        width: 100%;
        height: auto;
    }
    //btn

    .btn-details-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        background-color: transparent;
        margin-left: auto; //test
    }

    //!section 5 upcoming album

    .section5 {
        padding: 4rem 3rem;
    }
    .upcoming-album-title {
        gap: 0.7rem;
    }

    .h-section5 {
        font-size: 1.8rem;
        line-height: 3.6rem;
        margin-bottom: 1rem;
    }

    .title-upcoming-album {
        font-size: 1.6rem;
    }

    .p_section5-mini-description {
        font-size: 1.1rem;
    }
    .p_section5 {
        font-size: 1.3rem;
        line-height: 2.6rem;
        max-width: 44rem;
    }
    //img
    .upcoming-album-img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
    }

    .upcoming-album-img {
        width: 100%;
        height: auto;
    }
    .inner-div-upcoming-album {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3rem;
        max-width: 31rem;
    }

    //btn 1
    .discover-album-div {
        margin-top: 4rem;
        gap: 3rem;
    }

    .a-btn-discover-album {
        padding: 1rem;
        width: 22rem;
        height: auto;
        font-size: 1.4rem;
    }

    //footer top
}

//media q for 1024px

@media (min-width: 1024px) {
    //nav top

    //toggle menu
    .toggle-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        right: 0;
        padding: 1.5rem;
    }
    .toggle_menu-a {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        font-size: 1.4rem;
    }

    // social icons are hidden
    .toggle-column-right {
        display: none;
    }

    //hide this nav for small screens
    .top-nav-desktop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        position: absolute;
        margin: 5rem 2rem;
        right: 0;
        gap: 0.5rem;
        position: fixed;
        z-index: 1;
    }

    .nav-a-social {
        display: block; //test
        text-decoration: none;
        color: $white;
        margin: 0.2rem 0;
        cursor: pointer;
    }

    #nav-a-1,
    #nav-a-2,
    #nav-a-3,
    #nav-a-4,
    #nav-a-5,
    #nav-a-6,
    #nav-a-7,
    #nav-a-8,
    #nav-a-9 {
        font-size: 1.75rem;
        transition: 0.1s ease-in-out;
        &:hover {
            transform: scale(1.2);
            color: $grey-500;
        }
    }
    .top-content {
        padding: 0 2rem;
    }

    //section1 1024px

    .section-1 {
        padding: 5rem 1rem 0 1rem;
    }
    .section-1-card {
        padding: 4rem 3rem;
    }

    .name-and-logo {
        gap: 2.6rem;
        line-height: 5.4rem;
    }
    .h1-main-name {
        font-size: 2.7rem;
    }
    .img-square-section {
        width: 2.7rem;
        height: 2.7rem;
    }
    //introduction
    .dot-and-introduction {
        gap: 1.2rem;
        line-height: 2.4rem;
    }
    .p_introduction {
        font-size: 1.2rem;
    }
    #dot-introduction {
        display: flex;
        font-size: 0.8rem;
    }

    //main description

    .p_description {
        line-height: 2.8rem;
        font-size: 1.4rem;
        max-width: 46rem;
    }
    .hr-line-to-p {
        height: 0.1rem;
        margin: 2rem 0;
    }

    .h2_description {
        line-height: 3.8rem;
        font-size: 1.9rem;
    }

    //btn discover story

    /* //bez zmian   .btn-discover {
        padding: 1rem;
        width: 22rem;
        height: auto;
        margin: 2rem 0;
        font-size: 1.4rem;
    } */
    //! section 2 i 4 padding 5.5 4.5 ma byc wieksze niz section 1 o 0.5rem

    // section 2 new albums with section 4 latest singles
    .section-2,
    .section-4 {
        padding: 5.5rem 4.5rem 2rem 5.5rem;
        gap: 1.5rem;
    }
    .h-section-2,
    .h-section-4 {
        font-size: 2rem;
        margin-bottom: 2.8rem;
    }

    //albums thing
    .albums-chooser,
    .singles-chooser {
        min-height: 26rem;
        gap: 2rem;
    }
    .album-cover,
    .single-cover {
        width: 10rem;
        height: auto;
        min-height: 10rem;
        min-width: 10rem;
    }
    .album,
    .single {
        width: 10rem;
        height: auto;
        min-height: 18rem;
    }
    .song-title-small {
        font-size: 1.2rem;
        margin-top: 0.9rem;
    }

    .content-small {
        gap: 0.6rem;
    }

    .date-small {
        font-size: 1.2rem;
    }

    .dots-separator-album,
    .dots-separator-single {
        font-size: 1.8rem;
    }

    //section3 music app chooser

    .section3 {
        padding: 0 4.5rem;
    }
    .h2-section3 {
        font-size: 2rem;
        line-height: 4rem;
    }
    .dot-and-introduction-chooser {
        gap: 0.8rem;
        line-height: 2.4rem;
        margin: 0.5rem 0 3rem 0;
    }
    .p_introduction-chooser {
        font-size: 1.2rem;
    }
    #dot-introduction-chooser {
        font-size: 1rem;
    }
    #box-1,
    #box-2,
    #box-3,
    #box-4,
    #box-5 {
        font-size: 2.4rem;
    }

    .hr-line-to-sections-chooser {
        height: 0.1rem;
        margin-top: 3rem;
    }

    //!section 5 upcoming album 1024

    .section5 {
        padding: 4rem 4.5rem;
    }
    .upcoming-album-title {
        gap: 0.9rem;
    }

    .h-section5 {
        font-size: 2rem;
        line-height: 4rem;
        margin-bottom: 1.2rem;
    }

    .title-upcoming-album {
        font-size: 1.6rem;
    }

    .p_section5-mini-description {
        font-size: 1.2rem;
    }
    .p_section5 {
        display: none;
        font-size: 1.4rem;
        line-height: 2.8rem;
        max-width: 46rem;
    }
    .p_section5-hidden {
        display: block;
        font-size: 1.4rem;
        line-height: 2.8rem;
        /* max-width: 46rem; */
        max-width: 50vw;
    }
    //img
    .upcoming-album-img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 0 0;
    }

    .upcoming-album-img {
        width: 100%;
        height: auto;
    }
    .inner-div-upcoming-album {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2rem;
        max-width: 31rem;
    }

    //btn 1
    .btn-discover-album {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: transparent;
        padding-left: 2rem;
    }

    .discover-album-div {
        margin-top: 3rem;
        gap: 3rem;
    }

    .a-btn-discover-album {
        padding: 1rem;
        width: 22rem;
        height: auto;
        font-size: 1.4rem;
    }

    //!footer
    //footer'top

    .footer-top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
        padding: 4rem;
    }
    .footer-a-1,
    .footer-a-2 {
        gap: 1rem;
    }
    .description-and-email-input {
        width: 40%;
        gap: 1rem;
    }

    .email-input-description {
        padding: 0;
    }
    //footer bottom
    .footer-p-and-nav {
        padding-top: 2rem;
    }
    .nav-a-footer-social {
        padding: 0 1rem;
    }
}

//media for 1440 screens

@media (min-width: 1440px) {
    //nav top
    #nav-a-1,
    #nav-a-2,
    #nav-a-3,
    #nav-a-4,
    #nav-a-5,
    #nav-a-6,
    #nav-a-7,
    #nav-a-8,
    #nav-a-9 {
        font-size: 2rem;
    }
    //toggle menu
    .toggle-menu {
        width: 20%;
        transform: translateY(4rem);
    }
    .toggle_menu-a {
        font-size: 1.6rem;
    }
    //menu
    .top-content {
        padding: 2rem;
    }
    #logo,
    #dropdown-menu-icon {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
    }

    //! section1 1440px
    .section-1 {
        padding: 5rem 1.5rem 0 1.5rem;
    }
    .section-1-card {
        padding: 4rem 6rem;
    }
    .p_description {
        max-width: 52rem;
    }
    //! section 2 i 4 padding 5.5 4.5 ma byc wieksze niz section 1 o 0.5rem

    // section 2 new albums with section 4 latest singles
    .section-2,
    .section-4 {
        padding: 5.5rem 8rem;
        gap: 2rem;
    }
    //! section3 music app chooser

    .section3 {
        padding: 0 8rem;
    }

    //! section 5 upcoming album 1024

    .section5 {
        padding: 4rem 8rem;
    }
    .upcoming-album-title {
        gap: 1rem;
    }
    .p_section5 {
        max-width: 54rem;
    }
    //footer'top

    .footer-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 6rem;
        padding: 6rem;
    }
    .description-and-email-input {
        gap: 2rem;
    }

    .email-input-description {
        padding: 0;
    }
    //footer bottom
    .footer-bottom {
        padding: 0 6rem;
    }

    .footer-p-and-nav {
        padding-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;
    }
    .nav-a-footer-social {
        padding: 0 2rem;
    }
    #bottom-nav-a-1,
    #bottom-nav-a-2,
    #bottom-nav-a-3,
    #bottom-nav-a-4,
    #bottom-nav-a-5,
    #bottom-nav-a-6,
    #bottom-nav-a-7,
    #bottom-nav-a-8,
    #bottom-nav-a-9 {
        font-size: 2.5rem;
    }
    .time-and-rights {
        font-size: 1.2rem;
    }
    //about me
    .about-me {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 2rem;
    }
    #description-about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 6rem;
        gap: 0.5rem;
        font-size: 1.2rem;
        width: 100%;
    }
    .my-name-and-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 6rem;
        width: 100%;
        gap: 1rem;
    }
    #my-name-is {
        font-size: 1.6rem;
        padding: 1rem 0;
    }
    .my-social {
        font-size: 3.2rem;
        color: $ming-blue-600;
        transition: 0.1s ease-in-out;
    }
}
